In [2]:
import requests
import pandas as pd
import numpy as np
import csv
from bs4 import BeautifulSoup
from IPython.display import display
from IPython.display import Image
import re
page = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
page

soup = BeautifulSoup(page.text, 'html.parser')

#print(soup.prettify)

gdp_table=soup.find("table", attrs={"class": "wikitable sortable"})
# gdp_table_data=gdp_table.tbody.find_all("tr")
#gdp_table_data

#print(gdp_table)

gdp_table = soup.find('table')
gdp_table_rows = gdp_table.find_all('tr')
gdp_table

Tabel = []
for tr in gdp_table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        Tabel.append(row)
        #print(Tabel)

PCode = pd.DataFrame(Tabel, columns=["Postcode","Borough","Neighbourhood"])
PCode.head(10)                            
#PCode.describe()

#PCode.shape

PCode1=PCode.loc[PCode['Borough']!='Not assigned']
PCode1.head(5)

#PCode1.shape
PCode1 = PCode1.groupby(['Postcode', 'Borough']).agg(', '.join)
PCode1 = PCode1.reset_index()
#PCode1.head(5)

#PCode1.shape

# ### Substituindo 'Not assigned' por "Queen's Park"

# In[15]:

PCode1.loc[PCode1['Neighbourhood']=='Not assigned']

PCode1.loc[85,'Neighbourhood']= "Queen's Park"

PCode1.loc[PCode1['Postcode']=='M7A']

#PCode1.head(5)

PCode1.shape

GeoCan=pd.read_csv('http://cocl.us/Geospatial_data')
GeoCan.head(5)

PCodeGeo=PCode1.merge(GeoCan, left_on='Postcode',right_on='Postal Code')
PCodeGeo.drop('Postal Code', axis=1, inplace=True)
PCodeGeo

### Abaixo estão o agrupamento de todos os bairros com o nome "Toronto".

# PCodeGeo.loc[(PCodeGeo['Borough']=='East Toronto') | (PCodeGeo['Borough']=='Downtown Toronto') | (PCodeGeo['Borough']=='West Toronto')]

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan",43.781638,-79.304302
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo...",43.815252,-79.284577
15,M1W,Scarborough,"Steeles West, L'Amoreaux West",43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"York Mills, Silver Hills",43.757490,-79.374714
21,M2M,North York,"Willowdale, Newtonbrook",43.789053,-79.408493
22,M2N,North York,"Willowdale, Willowdale East",43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,"Willowdale, Willowdale West",43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills,43.745906,-79.352188
27,M3C,North York,Don Mills,43.725900,-79.340923
28,M3H,North York,"Bathurst Manor, Wilson Heights, Downsview North",43.754328,-79.442259
29,M3J,North York,"Northwood Park, York University",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie,43.669542,-79.422564
76,M6H,West Toronto,"Dufferin, Dovercourt Village",43.669005,-79.442259
77,M6J,West Toronto,"Little Portugal, Trinity",43.647927,-79.419750
78,M6K,West Toronto,"Brockton, Parkdale Village, Exhibition Place",43.636847,-79.428191
79,M6L,North York,"North Park, Maple Leaf Park, Upwood Park",43.713756,-79.490074
80,M6M,York,"Del Ray, Mount Dennis, Keelsdale and Silverthorn",43.691116,-79.476013
81,M6N,York,"Runnymede, The Junction North",43.673185,-79.487262
82,M6P,West Toronto,"High Park, The Junction South",43.661608,-79.464763
83,M6R,West Toronto,"Parkdale, Roncesvalles",43.648960,-79.456325
84,M6S,West Toronto,"Runnymede, Swansea",43.651571,-79.484450
85,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819
87,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
88,M8V,Etobicoke,"New Toronto, Mimico South, Humber Bay Shores",43.605647,-79.501321
89,M8W,Etobicoke,"Alderwood, Long Branch",43.602414,-79.543484
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
91,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
92,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999
93,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
94,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724
95,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Humberlea, Emery",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [3]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation


!pip install geopy
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize


! pip install folium==0.5.0
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Requirement already satisfied: geopy in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.18.1)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopy) (1.49)
Collecting folium==0.5.0
  Downloading https://files.pythonhosted.org/packages/07/37/456fb3699ed23caa0011f8b90d9cad94445eddc656b601e6268090de35f5/folium-0.5.0.tar.gz (79kB)
     |████████████████████████████████| 81kB 15.2MB/s eta 0:00:01
Collecting branca (from folium==0.5.0)
  Downloading https://files.pythonhosted.org/packages/61/1f/570b0615c452265d57e4114e633231d6cd9b9d275256778a675681e4f711/branca-0.4.2-py3-none-any.whl
Requirement already satisfied: jinja2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium==0.5.0) (2.10)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium==0.5.0) (2.21.0)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium==0.5.0) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2->folium==0.5.0) (1.1.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium==0.5.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium==0.5.0) (2020.12.5)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium==0.5.0) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium==0.5.0) (2.8)
Building wheels for collected packages: folium
  Building wheel for folium (setup.py) ... done
  Stored in directory: /home/dsxuser/.cache/pip/wheels/f8/98/ff/954791afc47740d554f0d9e5885fa09dd60c2265d42578e665
Successfully built folium
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.5.0
Folium installed
Libraries imported.

In [4]:
CLIENT_ID = 'BVUUFLA4TBCKFRB0L2SS5UFUBGKPMLT53URE35MNIVVJGTAN' # your Foursquare ID
CLIENT_SECRET = 'OSE102KSHE1VOZFFLTLK1KEX1UWERR05XA4SXE0Z1KHLH2QR' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
search_query = 'Supermarket'
radius = 1000
latitude='43.647927'
longitude='-79.419750'

In [5]:
latitude='43.636847'
longitude='-79.428191'
url4 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url4

results4 = requests.get(url4).json()
results4

# assign relevant part of JSON to venues
venues = results4['response']['venues']

# tranform venues into a dataframe
dataframe4 = json_normalize(venues)
dataframe4.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bb8e4173db7b71388be219a,1431 Queen St W,CA,Toronto,Canada,NaN,296,"[1431 Queen St W, Toronto ON M6K 1M3, Canada]","[{'label': 'display', 'lat': 43.63426492148706...",43.634265,-79.429112,M6K 1M3,ON,Queen Supermarket,v-1610335489,NaN
1,"[{'id': '4bf58dd8d48988d1f9941735', 'name': 'F...",False,52a7535011d25ca6273cc5de,NaN,CA,NaN,Canada,NaN,737,[Canada],"[{'label': 'display', 'lat': 43.64095368742944...",43.640954,-79.435371,NaN,NaN,Lucky Supermarket,v-1610335489,NaN
2,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af457d8f964a5207ef121e3,100 Lynn Williams St,CA,Toronto,Canada,Liberty Village,918,"[100 Lynn Williams St (Liberty Village), Toron...","[{'label': 'display', 'lat': 43.6398010846417,...",43.639801,-79.417547,M6K 3N6,ON,Metro,v-1610335489,597157643
3,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4e0d1f33c65ba20da213d9d5,1474 Queen St W,CA,Toronto,Canada,NaN,809,"[1474 Queen St W, Toronto ON M6K 1M4, Canada]","[{'label': 'display', 'lat': 43.640435, 'lng':...",43.640435,-79.436935,M6K 1M4,ON,Bala Super Market,v-1610335489,NaN

In [6]:
latitude='43.806686'
longitude='-79.194353'
url0 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url0 
results0 = requests.get(url0).json()
results0 
# assign relevant part of JSON to venues
venues = results0['response']['venues']

# tranform venues into a dataframe
dataframe0 = json_normalize(venues)
dataframe0.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,539641d9498ee4f723c48089,1150 Morningside Ave,CA,Toronto,Canada,Milner,824,"[1150 Morningside Ave (Milner), Toronto ON M1B...","[{'label': 'display', 'lat': 43.80052789935291...",43.800528,-79.200064,Malvern,M1B 3A4,ON,Fusion Supermarket,v-1610335489
1,"[{'id': '4bf58dd8d48988d1f6941735', 'name': 'D...",False,55fc8fbe498ecf307388b81f,"1145 Morningside Ave #32, 33",CA,Toronto,Canada,NaN,708,"[1145 Morningside Ave #32, 33, Toronto ON M1B ...","[{'label': 'display', 'lat': 43.80111, 'lng': ...",43.801110,-79.198604,NaN,M1B 0A7,ON,Gunaam's Super Market,v-1610335489

In [7]:
latitude='43.725900'
longitude='-79.340923'

url6 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url6

results6 = requests.get(url6).json()
results6

# assign relevant part of JSON to venues
venues = results6['response']['venues']

# tranform venues into a dataframe
dataframe6 = json_normalize(venues)
dataframe6.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ba01a86ab42d9002c77a331,888 Don Mills Rd - Unit 100,CA,Toronto,Canada,Barber Greene Rd,70,[888 Don Mills Rd - Unit 100 (Barber Greene Rd...,"[{'label': 'display', 'lat': 43.72555648813715...",43.725556,-79.341667,M3C 1V6,ON,C&C Supermarket,v-1610335489

In [8]:
latitude='43.784535'
longitude='-79.160497'
url1 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url1 
results1 = requests.get(url1).json()
results1 
# assign relevant part of JSON to venues
venues = results1['response']['venues']

# tranform venues into a dataframe
dataframe1 = json_normalize(venues)
dataframe1.head()

Empty DataFrame
Columns: []
Index: []

In [9]:
latitude='43.763573'
longitude='-79.188711'
url2 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url2 
results2 = requests.get(url2).json()
results2 
# assign relevant part of JSON to venues
venues = results2['response']['venues']

# tranform venues into a dataframe
dataframe2 = json_normalize(venues)
dataframe2.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4be459f3d4f7c9b602072420,4473 Kingston Rd,CA,Scarborough,Canada,at Morningside Ave.,675,"[4473 Kingston Rd (at Morningside Ave.), Scarb...","[{'label': 'display', 'lat': 43.769591, 'lng':...",43.769591,-79.187669,M1E 2N7,ON,Joseph's No Frills,v-1610335490

In [10]:
latitude='43.770992'
longitude='-79.216917'
url3 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url3 
results3 = requests.get(url3).json()
results3 
# assign relevant part of JSON to venues
venues = results3['response']['venues']

# tranform venues into a dataframe
dataframe3 = json_normalize(venues)
dataframe3.head()

Empty DataFrame
Columns: []
Index: []

In [11]:
latitude='43.773136'
longitude='-79.239476'
url4 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url4 
results4 = requests.get(url4).json()
results4 
# assign relevant part of JSON to venues
venues = results4['response']['venues']

# tranform venues into a dataframe
dataframe4 = json_normalize(venues)
dataframe4.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5b8d9bddc58ed7002ce75f9b,2141 Ellesmere,CA,Toronto,Canada,NaN,793,"[2141 Ellesmere, Toronto ON M1H 2Y5, Canada]","[{'label': 'display', 'lat': 43.77605, 'lng': ...",43.776050,-79.23047,M1H 2Y5,ON,Panchvati Supermarket,v-1610335490
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c438413f97fbe9a32f3b930,1255 Markham Rd,CA,Toronto,Canada,Progress,966,"[1255 Markham Rd (Progress), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.780335, 'lng':...",43.780335,-79.23275,NaN,ON,Sheung Thai Supermarket,v-1610335490

In [12]:
latitude='43.744734'
longitude='-79.239476'
url5 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url5 
results5 = requests.get(url5).json()
results5 
# assign relevant part of JSON to venues
venues = results5['response']['venues']

# tranform venues into a dataframe
dataframe5 = json_normalize(venues)
dataframe5.head()

,categories,hasPerk,id,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4daca3b743a17e90f8e3f2f4,CA,Toronto,Canada,663,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.74651872778413...",43.746519,-79.231609,ON,M&S Supermarket,v-1610335490

In [13]:
latitude='43.727929'
longitude='-79.262029'
url6 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url6 
results6 = requests.get(url6).json()
results6 
# assign relevant part of JSON to venues
venues = results6['response']['venues']

# tranform venues into a dataframe
dataframe6 = json_normalize(venues)
dataframe6.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ec1a0a89911a2ec5cc79f26,"8 Greystone Walk Dr., Unit 11",CA,Scarborough,Canada,btwn Midland & Danforth,792,"[8 Greystone Walk Dr., Unit 11 (btwn Midland &...","[{'label': 'display', 'lat': 43.72505367662222...",43.725054,-79.253019,M1K 5J2,ON,Fu Yao Supermarket,v-1610335490
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d8e6619d265236a33c20917,678 Kennedy Rd.,CA,Toronto,Canada,at Merrian Rd.,365,"[678 Kennedy Rd. (at Merrian Rd.), Toronto ON ...","[{'label': 'display', 'lat': 43.72666927699861...",43.726669,-79.266229,M1K 2B5,ON,Al Janat Supermarket,v-1610335490
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ade6c044186865eb6950a98,NaN,CA,Toronto,Canada,NaN,1118,"[Toronto ON M1K 2S2, Canada]","[{'label': 'display', 'lat': 43.735378, 'lng':...",43.735378,-79.252700,M1K 2S2,ON,Eraa Supermarket,v-1610335490

In [14]:
latitude='43.711112'
longitude='-79.284577'
url7 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url7 
results7 = requests.get(url7).json()
results7 
# assign relevant part of JSON to venues
venues = results7['response']['venues']

# tranform venues into a dataframe
dataframe7 = json_normalize(venues)
dataframe7.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d8f73366174a093df6edee3,462 Birchmount Rd.,CA,Toronto,Canada,1024,"[462 Birchmount Rd., Toronto ON M1L 3X6, Canada]","[{'label': 'display', 'lat': 43.71170925519159...",43.711709,-79.271876,M1L 3X6,ON,Fu Yao Supermarket,v-1610335491

In [15]:
latitude='43.716316'
longitude='-79.239476'
url8 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url8 
results8 = requests.get(url8).json()
results8 
# assign relevant part of JSON to venues
venues = results8['response']['venues']

# tranform venues into a dataframe
dataframe8 = json_normalize(venues)
dataframe8.head()

Empty DataFrame
Columns: []
Index: []

In [16]:
latitude='43.692657'
longitude='-79.264848'
url9 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url9 
results9 = requests.get(url9).json()
results9 
# assign relevant part of JSON to venues
venues = results9['response']['venues']

# tranform venues into a dataframe
dataframe9 = json_normalize(venues)
dataframe9.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4dc9b816c65b4fc1c47f70bf,3502 Danforth Ave,CA,Toronto,Canada,758,"[3502 Danforth Ave, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.6946133888628,...",43.694613,-79.273878,ON,Prince Supermarket,v-1610335491

In [17]:
latitude='43.757410'
longitude='-79.273304'
url10 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url10 
results10 = requests.get(url10).json()
results10 
# assign relevant part of JSON to venues
venues = results10['response']['venues']

# tranform venues into a dataframe
dataframe10 = json_normalize(venues)
dataframe10.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d142941735', 'name': 'A...",False,4c0d9bcc2466a593bfe87721,2300 Lawrence Ave E,CA,Toronto,Canada,846,"[2300 Lawrence Ave E, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.7503458515419,...",43.750346,-79.277188,ON,Lone Tai Supermarket,v-1610335491

In [18]:
latitude='43.750072'
longitude='-79.295849'
url11 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url11 
results11 = requests.get(url11).json()
results11 
# assign relevant part of JSON to venues
venues = results11['response']['venues']

# tranform venues into a dataframe
dataframe11 = json_normalize(venues)
dataframe11.head()

Empty DataFrame
Columns: []
Index: []

In [19]:
latitude='43.794200'
longitude='-79.262029'
url12 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url12 
results12 = requests.get(url12).json()
results12 
# assign relevant part of JSON to venues
venues = results12['response']['venues']

# tranform venues into a dataframe
dataframe12 = json_normalize(venues)
dataframe12.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b36a979f964a520343a25e3,4466 Sheppard Ave. E,CA,Scarborough,Canada,at Brimley Rd.,710,"[4466 Sheppard Ave. E (at Brimley Rd.), Scarbo...","[{'label': 'display', 'lat': 43.78905492518265...",43.789055,-79.267261,M1S 1V2,ON,Farm Fresh Supermarket 大世界超級市場,v-1610335491
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b25ce09f964a5206a7624e3,2301 Brimley Rd,CA,Scarborough,Canada,Huntingwood Dr,789,"[2301 Brimley Rd (Huntingwood Dr), Scarborough...","[{'label': 'display', 'lat': 43.79783353131889...",43.797834,-79.270461,M1S 5B8,ON,Soon Tat Supermarket,v-1610335491
2,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,50a95357e4b04d89951c5cda,20 Nugget Ave,CA,Toronto,Canada,NaN,232,"[20 Nugget Ave, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.79312630005749...",43.793126,-79.259544,NaN,ON,Al Amaan Super Market,v-1610335491

In [20]:
latitude='43.781638'
longitude='-79.304302'
url13 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url13 
results13 = requests.get(url13).json()
results13 
# assign relevant part of JSON to venues
venues = results13['response']['venues']

# tranform venues into a dataframe
dataframe13 = json_normalize(venues)
dataframe13.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c59bc8b4ed9ef3b55e2d96d,3331 Sheppard Ave. E.,CA,Toronto,Canada,at Warden Ave.,669,"[3331 Sheppard Ave. E. (at Warden Ave.), Toron...","[{'label': 'display', 'lat': 43.77615538871523...",43.776155,-79.307727,ON,Food Depot Supermarket 泰錦超級市場,v-1610335492

In [21]:
latitude='43.815252'
longitude='-79.284577'
url14 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url14 
results14 = requests.get(url14).json()
results14 
# assign relevant part of JSON to venues
venues = results14['response']['venues']

# tranform venues into a dataframe
dataframe14 = json_normalize(venues)
dataframe14.head()

Empty DataFrame
Columns: []
Index: []

In [22]:
latitude='43.799525'
longitude='-79.318389'
url15 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url15 
results15 = requests.get(url15).json()
results15 
# assign relevant part of JSON to venues
venues = results15['response']['venues']

# tranform venues into a dataframe
dataframe15 = json_normalize(venues)
dataframe15.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4cb8f0a3dd41a35db9a4dea0,2543 Pharmacy Ave.,CA,Toronto,Canada,at Corinthian Blvd.,1042,"[2543 Pharmacy Ave. (at Corinthian Blvd.), Tor...","[{'label': 'display', 'lat': 43.79228614621172...",43.792286,-79.326624,M1W 2K2,ON,Daily Needs Supermarket,v-1610335492

In [23]:
latitude='43.836125'
longitude='-79.205636'
url16 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url16 
results16 = requests.get(url16).json()
results16 
# assign relevant part of JSON to venues
venues = results16['response']['venues']

# tranform venues into a dataframe
dataframe16 = json_normalize(venues)
dataframe16.head()

Empty DataFrame
Columns: []
Index: []

In [24]:
latitude='43.803762'
longitude='-79.363452'
url17 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url17 
results17 = requests.get(url17).json()
results17 
# assign relevant part of JSON to venues
venues = results17['response']['venues']

# tranform venues into a dataframe
dataframe17 = json_normalize(venues)
dataframe17.head()

Empty DataFrame
Columns: []
Index: []

In [25]:
latitude='43.778517'
longitude='-79.346556'
url18 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url18 
results18 = requests.get(url18).json()
results18 
# assign relevant part of JSON to venues
venues = results18['response']['venues']

# tranform venues into a dataframe
dataframe18 = json_normalize(venues)
dataframe18.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b91b689f964a520f9d133e3,3030 Don Mills Rd.,CA,Toronto,Canada,in Peanut Plaza,904,"[3030 Don Mills Rd. (in Peanut Plaza), Toronto...","[{'label': 'display', 'lat': 43.78564527290788...",43.785645,-79.351961,M2J 3C1,ON,Tone Tai Supermarket 鼎泰超級市場,v-1610335492

In [26]:
latitude='43.786947'
longitude='-79.385975'
url19 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url19 
results19 = requests.get(url19).json()
results19 
# assign relevant part of JSON to venues
venues = results19['response']['venues']

# tranform venues into a dataframe
dataframe19 = json_normalize(venues)
dataframe19.head()

,categories,hasPerk,id,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,500c56a8e4b0c0877f3b9966,CA,NaN,Canada,NaN,899,[Canada],"[{'label': 'display', 'lat': 43.78337009210020...",43.783370,-79.396017,NaN,Sunny Supermarket,v-1610335492
1,[],False,4bc0ffb14cdfc9b622f19321,CA,Toronto,Canada,Don mills and finch,1009,"[Don mills and finch, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.78891551086557...",43.788916,-79.373711,ON,Cloudy supermarket,v-1610335492

In [27]:
latitude='43.757490'
longitude='-79.374714'
url20 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url20 
results20 = requests.get(url20).json()
results20 
# assign relevant part of JSON to venues
venues = results20['response']['venues']

# tranform venues into a dataframe
dataframe20 = json_normalize(venues)
dataframe20.head()

Empty DataFrame
Columns: []
Index: []

In [28]:
latitude='43.789053'
longitude='-79.408493'
url21 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url21 
results21 = requests.get(url21).json()
results21 
# assign relevant part of JSON to venues
venues = results21['response']['venues']

# tranform venues into a dataframe
dataframe21 = json_normalize(venues)
dataframe21.head()

Empty DataFrame
Columns: []
Index: []

In [29]:
latitude='43.770120'
longitude='-79.408493'
url22 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url22 
results22 = requests.get(url22).json()
results22 
# assign relevant part of JSON to venues
venues = results22['response']['venues']

# tranform venues into a dataframe
dataframe22 = json_normalize(venues)
dataframe22.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bf47e7598ac0f47d41964a8,NaN,CA,NaN,Canada,NaN,833,[Canada],"[{'label': 'display', 'lat': 43.76276820682531...",43.762768,-79.410480,NaN,NaN,Supermarket,v-1610335493,NaN
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af2473cf964a52014e721e3,20 Church Ave,CA,North York,Canada,at Yonge St.,600,"[20 Church Ave (at Yonge St.), North York ON M...","[{'label': 'display', 'lat': 43.77417110604527...",43.774171,-79.413432,M2N 0B7,ON,Metro,v-1610335493,597910634

In [30]:
latitude='43.752758'
longitude='-79.400049'
url23 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url23 
results23 = requests.get(url23).json()
results23 
# assign relevant part of JSON to venues
venues = results23['response']['venues']

# tranform venues into a dataframe
dataframe23 = json_normalize(venues)
dataframe23.head()

Empty DataFrame
Columns: []
Index: []

In [31]:
latitude='43.782736'
longitude='-79.442259'
url24 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url24 
results24 = requests.get(url24).json()
results24 
# assign relevant part of JSON to venues
venues = results24['response']['venues']

# tranform venues into a dataframe
dataframe24 = json_normalize(venues)
dataframe24.head()

Empty DataFrame
Columns: []
Index: []

In [32]:
latitude='43.753259'
longitude='-79.329656'
url25 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url25 
results25 = requests.get(url25).json()
results25 
# assign relevant part of JSON to venues
venues = results25['response']['venues']

# tranform venues into a dataframe
dataframe25 = json_normalize(venues)
dataframe25.head()

Empty DataFrame
Columns: []
Index: []

In [33]:
latitude='43.745906'
longitude='-79.352188'
url26 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url26 
results26 = requests.get(url26).json()
results26 
# assign relevant part of JSON to venues
venues = results26['response']['venues']

# tranform venues into a dataframe
dataframe26 = json_normalize(venues)
dataframe26.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4ccec87654f0b1f7f32824ca,865 York Mills Rd.,CA,Toronto,Canada,at Upjohn Rd.,874,"[865 York Mills Rd. (at Upjohn Rd.), Toronto O...","[{'label': 'display', 'lat': 43.75352001200256...",43.75352,-79.349518,M3B 1Y5,ON,Galleria Supermarket,v-1610335494

In [34]:
latitude='43.725900'
longitude='-79.340923'
url27 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url27 
results27 = requests.get(url27).json()
results27 
# assign relevant part of JSON to venues
venues = results27['response']['venues']

# tranform venues into a dataframe
dataframe27 = json_normalize(venues)
dataframe27.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ba01a86ab42d9002c77a331,888 Don Mills Rd - Unit 100,CA,Toronto,Canada,Barber Greene Rd,70,[888 Don Mills Rd - Unit 100 (Barber Greene Rd...,"[{'label': 'display', 'lat': 43.72555648813715...",43.725556,-79.341667,M3C 1V6,ON,C&C Supermarket,v-1610335494

In [35]:
latitude='43.754328'
longitude='-79.442259'
url28 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url28 
results28 = requests.get(url28).json()
results28 
# assign relevant part of JSON to venues
venues = results28['response']['venues']

# tranform venues into a dataframe
dataframe28 = json_normalize(venues)
dataframe28.head()

Empty DataFrame
Columns: []
Index: []

In [36]:
latitude='43.767980'
longitude='-79.487262'
url29 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url29 
results29 = requests.get(url29).json()
results29 
# assign relevant part of JSON to venues
venues = results29['response']['venues']

# tranform venues into a dataframe
dataframe29 = json_normalize(venues)
dataframe29.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,58ed13fdb50d52250436b317,1235 Finch Avenue West,CA,Toronto,Canada,Finch And Alexdone,449,"[1235 Finch Avenue West (Finch And Alexdone), ...","[{'label': 'display', 'lat': 43.764066, 'lng':...",43.764066,-79.485904,M3J 2G4,ON,TPP Supermarket,v-1610335494
1,"[{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'M...",False,51e9b005498e4930349f83fc,NaN,CA,NaN,Canada,NaN,732,[Canada],"[{'label': 'display', 'lat': 43.7617991933506,...",43.761799,-79.490401,NaN,NaN,Burak supermarket keel and finch,v-1610335494

In [37]:
latitude='43.737473'
longitude='-79.464763'
url30 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url30 
results30 = requests.get(url30).json()
results30 
# assign relevant part of JSON to venues
venues = results30['response']['venues']

# tranform venues into a dataframe
dataframe30 = json_normalize(venues)
dataframe30.head()

Empty DataFrame
Columns: []
Index: []

In [38]:
latitude='43.739015'
longitude='-79.506944'
url31 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url31 
results31 = requests.get(url31).json()
results31 
# assign relevant part of JSON to venues
venues = results31['response']['venues']

# tranform venues into a dataframe
dataframe31 = json_normalize(venues)
dataframe31.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ea30c1177c8d0ce5e35a6cd,1925 Sheppard Ave. W.,CA,Toronto,Canada,at Janes St.,411,"[1925 Sheppard Ave. W. (at Janes St.), Toronto...","[{'label': 'display', 'lat': 43.73919317312882...",43.739193,-79.512053,M3L 1Y8,ON,Win Farm Supermarket,v-1610335495

In [39]:
latitude='43.728496'
longitude='-79.495697'
url32 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url32 
results32 = requests.get(url32).json()
results32 
# assign relevant part of JSON to venues
venues = results32['response']['venues']

# tranform venues into a dataframe
dataframe32 = json_normalize(venues)
dataframe32.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d1e5b025acaa35dcb8db635,1105 Wilson Ave.,CA,North York,Canada,at Keele St.,1053,"[1105 Wilson Ave. (at Keele St.), North York O...","[{'label': 'display', 'lat': 43.72627030972754...",43.72627,-79.482972,M3M 1H2,ON,Btrust Supermarket,v-1610335495

In [40]:
latitude='43.761631'
longitude='-79.520999'
url33 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url33 
results33 = requests.get(url33).json()
results33 
# assign relevant part of JSON to venues
venues = results33['response']['venues']

# tranform venues into a dataframe
dataframe33 = json_normalize(venues)
dataframe33.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e7e0b117ee6ec38252d3886,1989 Finch Ave W,CA,Toronto,Canada,at Jane St,588,"[1989 Finch Ave W (at Jane St), Toronto ON M3N...","[{'label': 'display', 'lat': 43.75667320052111...",43.756673,-79.518444,M3N 2K2,ON,Jian Hing Supermarket,v-1610335495

In [41]:
latitude='43.725882'
longitude='-79.315572'
url34 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url34 
results34 = requests.get(url34).json()
results34 
# assign relevant part of JSON to venues
venues = results34['response']['venues']

# tranform venues into a dataframe
dataframe34 = json_normalize(venues)
dataframe34.head()

Empty DataFrame
Columns: []
Index: []

In [42]:
latitude='43.706397'
longitude='-79.309937'
url35 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url35 
results35 = requests.get(url35).json()
results35 
# assign relevant part of JSON to venues
venues = results35['response']['venues']

# tranform venues into a dataframe
dataframe35 = json_normalize(venues)
dataframe35.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e2342fbfa761d67108f00cc,391 Lumsden Ave,CA,East York,Canada,Barrington Ave,1351,"[391 Lumsden Ave (Barrington Ave), East York O...","[{'label': 'display', 'lat': 43.69527510260859...",43.695275,-79.30321,M4C 2L6,ON,L.B. Supermarket,v-1610335495

In [43]:
latitude='43.695344'
longitude='-79.318389'
url36 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url36 
results36 = requests.get(url36).json()
results36 
# assign relevant part of JSON to venues
venues = results36['response']['venues']

# tranform venues into a dataframe
dataframe36 = json_normalize(venues)
dataframe36.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4db8a363fa8c978590bde375,1054 Coxwell Ave.,CA,Toronto,Canada,O'Connor Dr.,895,"[1054 Coxwell Ave. (O'Connor Dr.), Toronto ON,...","[{'label': 'display', 'lat': 43.69691125533249...",43.696911,-79.329296,ON,Wayne's Supermarket,v-1610335496

In [44]:
latitude='43.676357'
longitude='-79.293031'
url37 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url37 
results37 = requests.get(url37).json()
results37 
# assign relevant part of JSON to venues
venues = results37['response']['venues']

# tranform venues into a dataframe
dataframe37 = json_normalize(venues)
dataframe37.head()

Empty DataFrame
Columns: []
Index: []

In [45]:
latitude='43.709060'
longitude='-79.363452'
url38 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url38 
results38 = requests.get(url38).json()
results38 
# assign relevant part of JSON to venues
venues = results38['response']['venues']

# tranform venues into a dataframe
dataframe38 = json_normalize(venues)
dataframe38.head()

Empty DataFrame
Columns: []
Index: []

In [46]:
latitude='43.705369'
longitude='-79.349372'
url39 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url39 
results39 = requests.get(url39).json()
results39 
# assign relevant part of JSON to venues
venues = results39['response']['venues']

# tranform venues into a dataframe
dataframe39 = json_normalize(venues)
dataframe39.head()

Empty DataFrame
Columns: []
Index: []

In [47]:
latitude='43.685347'
longitude='-79.338106'
url40 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url40 
results40 = requests.get(url40).json()
results40 
# assign relevant part of JSON to venues
venues = results40['response']['venues']

# tranform venues into a dataframe
dataframe40 = json_normalize(venues)
dataframe40.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1f5941735', 'name': 'G...",False,4b997ccdf964a520627e35e3,906 Danforth Ave,CA,Toronto,Canada,btwn Donlands & Dewhurst,586,"[906 Danforth Ave (btwn Donlands & Dewhurst), ...","[{'label': 'display', 'lat': 43.68012138925084...",43.680121,-79.339009,M4J 1L9,ON,Masellis Supermarket,v-1610335496
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4e20b5bda80968cf3e380c8a,1361 Danforth Avenue,CA,Toronto,Canada,Danforth & Monarch Park,864,[1361 Danforth Avenue (Danforth & Monarch Park...,"[{'label': 'display', 'lat': 43.68234279734616...",43.682343,-79.328201,M4J 4N8,ON,Dragon Supermarket,v-1610335496
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e1c91a1483b6f9457795947,1067 Danforth,CA,Toronto,Canada,NaN,550,"[1067 Danforth, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.680722, 'lng':...",43.680722,-79.335693,NaN,ON,Kabul Supermarket,v-1610335496
3,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e0899aea809495e619fad39,984 Danforth,CA,Toronto,Canada,NaN,568,"[984 Danforth, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.6802447, 'lng'...",43.680245,-79.338324,NaN,ON,Burak Supermarket,v-1610335496
4,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b955064f964a520da9b34e3,1398 Danforth Avenue,CA,Toronto,Canada,NaN,892,"[1398 Danforth Avenue, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.68259030753467...",43.682590,-79.327702,NaN,ON,Jerry's Supermarket,v-1610335496

In [48]:
latitude='43.679557'
longitude='-79.352188'
url41 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url41 
results41 = requests.get(url41).json()
results41 
# assign relevant part of JSON to venues
venues = results41['response']['venues']

# tranform venues into a dataframe
dataframe41 = json_normalize(venues)
dataframe41.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1f5941735', 'name': 'G...",False,4b997ccdf964a520627e35e3,906 Danforth Ave,CA,Toronto,Canada,btwn Donlands & Dewhurst,1062,"[906 Danforth Ave (btwn Donlands & Dewhurst), ...","[{'label': 'display', 'lat': 43.68012138925084...",43.680121,-79.339009,M4J 1L9,ON,Masellis Supermarket,v-1610335497
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e0899aea809495e619fad39,984 Danforth,CA,Toronto,Canada,NaN,1118,"[984 Danforth, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.6802447, 'lng'...",43.680245,-79.338324,NaN,ON,Burak Supermarket,v-1610335497

In [49]:
latitude='43.668999'
longitude='-79.315572'
url42 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url42 
results42 = requests.get(url42).json()
results42 
# assign relevant part of JSON to venues
venues = results42['response']['venues']

# tranform venues into a dataframe
dataframe42 = json_normalize(venues)
dataframe42.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b3d44eff964a5205d9125e3,1449 Gerrard Street East,CA,Toronto,Canada,601,"[1449 Gerrard Street East, Toronto ON M4L 1Z9,...","[{'label': 'display', 'lat': 43.67238943901235...",43.672389,-79.321383,M4L 1Z9,ON,BJ Supermarket,v-1610335497

In [50]:
latitude='43.659526'
longitude='-79.340923'
url43 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url43 
results43 = requests.get(url43).json()
results43 
# assign relevant part of JSON to venues
venues = results43['response']['venues']

# tranform venues into a dataframe
dataframe43 = json_normalize(venues)
dataframe43.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b4d07c1f964a5208ac826e3,639-643 Gerrard St. E,CA,Toronto,Canada,btw Broadview & Degrassi,1046,[639-643 Gerrard St. E (btw Broadview & Degras...,"[{'label': 'display', 'lat': 43.66589856596992...",43.665899,-79.350481,M4M 1Y2,ON,Fu Yao Supermarket,v-1610335497

In [51]:
latitude='43.728020'
longitude='-79.388790'
url44 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url44 
results44 = requests.get(url44).json()
results44 
# assign relevant part of JSON to venues
venues = results44['response']['venues']

# tranform venues into a dataframe
dataframe44 = json_normalize(venues)
dataframe44.head()

Empty DataFrame
Columns: []
Index: []

In [52]:
latitude='43.712751'
longitude='-79.390197'
url45 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url45 
results45 = requests.get(url45).json()
results45 
# assign relevant part of JSON to venues
venues = results45['response']['venues']

# tranform venues into a dataframe
dataframe45 = json_normalize(venues)
dataframe45.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4ae65d9df964a520afa621e3,2300 Yonge St,CA,Toronto,Canada,at Eglinton Ave.,910,"[2300 Yonge St (at Eglinton Ave.), Toronto ON ...","[{'label': 'display', 'lat': 43.70739961340076...",43.7074,-79.398754,M4P 1E4,ON,Metro,v-1610335497,600161934

In [53]:
latitude='43.715383'
longitude='-79.405678'
url46 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url46 
results46 = requests.get(url46).json()
results46 
# assign relevant part of JSON to venues
venues = results46['response']['venues']

# tranform venues into a dataframe
dataframe46 = json_normalize(venues)
dataframe46.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4ae65d9df964a520afa621e3,2300 Yonge St,CA,Toronto,Canada,at Eglinton Ave.,1048,"[2300 Yonge St (at Eglinton Ave.), Toronto ON ...","[{'label': 'display', 'lat': 43.70739961340076...",43.7074,-79.398754,M4P 1E4,ON,Metro,v-1610335497,600161934

In [54]:
latitude='43.704324'
longitude='-79.388790'
url47 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url47 
results47 = requests.get(url47).json()
results47 
# assign relevant part of JSON to venues
venues = results47['response']['venues']

# tranform venues into a dataframe
dataframe47 = json_normalize(venues)
dataframe47.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4ae65d9df964a520afa621e3,2300 Yonge St,CA,Toronto,Canada,at Eglinton Ave.,871,"[2300 Yonge St (at Eglinton Ave.), Toronto ON ...","[{'label': 'display', 'lat': 43.70739961340076...",43.7074,-79.398754,M4P 1E4,ON,Metro,v-1610335498,600161934

In [55]:
latitude='43.689574'
longitude='-79.383160'
url48 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url48 
results48 = requests.get(url48).json()
results48 
# assign relevant part of JSON to venues
venues = results48['response']['venues']

# tranform venues into a dataframe
dataframe48 = json_normalize(venues)
dataframe48.head()

Empty DataFrame
Columns: []
Index: []

In [56]:
latitude='43.686412'
longitude='-79.400049'
url49 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url49 
results49 = requests.get(url49).json()
results49 
# assign relevant part of JSON to venues
venues = results49['response']['venues']

# tranform venues into a dataframe
dataframe49 = json_normalize(venues)
dataframe49.head()

Empty DataFrame
Columns: []
Index: []

In [57]:
latitude='43.679563'
longitude='-79.377529'
url50 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url50 
results50 = requests.get(url50).json()
results50 
# assign relevant part of JSON to venues
venues = results50['response']['venues']

# tranform venues into a dataframe
dataframe50 = json_normalize(venues)
dataframe50.head()

Empty DataFrame
Columns: []
Index: []

In [58]:
latitude='43.667967'
longitude='-79.367675'
url51 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url51 
results51 = requests.get(url51).json()
results51 
# assign relevant part of JSON to venues
venues = results51['response']['venues']

# tranform venues into a dataframe
dataframe51 = json_normalize(venues)
dataframe51.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e984e508b810941daa38738,324 Parliament St,CA,Toronto,Canada,NaN,1115,"[324 Parliament St, Toronto ON m5a2z9, Canada]","[{'label': 'display', 'lat': 43.65795472476427...",43.657955,-79.368145,m5a2z9,ON,Marhaba Supermarket,v-1610335498
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b959489f964a52086aa34e3,140 Carlton St.,CA,Toronto,Canada,NaN,867,"[140 Carlton St., Toronto ON M5A 4N9, Canada]","[{'label': 'display', 'lat': 43.66268506992159...",43.662685,-79.375597,M5A 4N9,ON,Little Bee Supermarket,v-1610335498
2,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,842,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,ON,Seaton Supermarket,v-1610335498
3,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4eebf15bb634f754418769de,NaN,CA,Toronto,Canada,Dundas and Parliament,980,"[Dundas and Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65916750679724...",43.659168,-79.367238,NaN,ON,Surma Supermarket,v-1610335498
4,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4df698b722717445a0b358cf,242 Parliament,CA,Toronto,Canada,NaN,1168,"[242 Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65759906377296...",43.657599,-79.365374,NaN,ON,Kabul Farms Supermarket and Hot Plate,v-1610335498

In [59]:
latitude='43.665860'
longitude='-79.383160'
url52 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url52 
results52 = requests.get(url52).json()
results52 
# assign relevant part of JSON to venues
venues = results52['response']['venues']

# tranform venues into a dataframe
dataframe52 = json_normalize(venues)
dataframe52.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b959489f964a52086aa34e3,140 Carlton St.,CA,Toronto,Canada,NaN,704,"[140 Carlton St., Toronto ON M5A 4N9, Canada]","[{'label': 'display', 'lat': 43.66268506992159...",43.662685,-79.375597,M5A 4N9,ON,Little Bee Supermarket,v-1610335498
1,"[{'id': '4bf58dd8d48988d117951735', 'name': 'C...",False,4c6f2e1eb5a5236abb954c52,20 Carlton St.,CA,Toronto,Canada,at Church St.,525,"[20 Carlton St. (at Church St.), Toronto ON M5...","[{'label': 'display', 'lat': 43.66194809127718...",43.661948,-79.379516,M5B 2H5,ON,Maple Leaf Supermarket,v-1610335498
2,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,1165,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,ON,Seaton Supermarket,v-1610335498

In [60]:
latitude='43.654260'
longitude='-79.360636'
url53 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url53 
results53 = requests.get(url53).json()
results53 
# assign relevant part of JSON to venues
venues = results53['response']['venues']

# tranform venues into a dataframe
dataframe53 = json_normalize(venues)
dataframe53.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e984e508b810941daa38738,324 Parliament St,CA,Toronto,Canada,NaN,731,"[324 Parliament St, Toronto ON m5a2z9, Canada]","[{'label': 'display', 'lat': 43.65795472476427...",43.657955,-79.368145,m5a2z9,ON,Marhaba Supermarket,v-1610335498
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4df698b722717445a0b358cf,242 Parliament,CA,Toronto,Canada,NaN,532,"[242 Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65759906377296...",43.657599,-79.365374,NaN,ON,Kabul Farms Supermarket and Hot Plate,v-1610335498
2,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4eebf15bb634f754418769de,NaN,CA,Toronto,Canada,Dundas and Parliament,762,"[Dundas and Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65916750679724...",43.659168,-79.367238,NaN,ON,Surma Supermarket,v-1610335498
3,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,1073,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,ON,Seaton Supermarket,v-1610335498

In [61]:
latitude='43.657162'
longitude='-79.378937'
url54 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url54 
results54 = requests.get(url54).json()
results54 
# assign relevant part of JSON to venues
venues = results54['response']['venues']

# tranform venues into a dataframe
dataframe54 = json_normalize(venues)
dataframe54.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,495,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335499
1,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e984e508b810941daa38738,324 Parliament St,CA,Toronto,Canada,NaN,873,"[324 Parliament St, Toronto ON m5a2z9, Canada]","[{'label': 'display', 'lat': 43.65795472476427...",43.657955,-79.368145,m5a2z9,ON,Marhaba Supermarket,v-1610335499
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b959489f964a52086aa34e3,140 Carlton St.,CA,Toronto,Canada,NaN,671,"[140 Carlton St., Toronto ON M5A 4N9, Canada]","[{'label': 'display', 'lat': 43.66268506992159...",43.662685,-79.375597,M5A 4N9,ON,Little Bee Supermarket,v-1610335499
3,"[{'id': '4bf58dd8d48988d117951735', 'name': 'C...",False,4c6f2e1eb5a5236abb954c52,20 Carlton St.,CA,Toronto,Canada,at Church St.,534,"[20 Carlton St. (at Church St.), Toronto ON M5...","[{'label': 'display', 'lat': 43.66194809127718...",43.661948,-79.379516,M5B 2H5,ON,Maple Leaf Supermarket,v-1610335499
4,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,780,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,ON,Seaton Supermarket,v-1610335499

In [62]:
latitude='43.651494'
longitude='-79.375418'
url55 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url55 
results55 = requests.get(url55).json()
results55 
# assign relevant part of JSON to venues
venues = results55['response']['venues']

# tranform venues into a dataframe
dataframe55 = json_normalize(venues)
dataframe55.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,554,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335499
1,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e984e508b810941daa38738,324 Parliament St,CA,Toronto,Canada,NaN,927,"[324 Parliament St, Toronto ON m5a2z9, Canada]","[{'label': 'display', 'lat': 43.65795472476427...",43.657955,-79.368145,m5a2z9,ON,Marhaba Supermarket,v-1610335499
2,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4df698b722717445a0b358cf,242 Parliament,CA,Toronto,Canada,NaN,1056,"[242 Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65759906377296...",43.657599,-79.365374,NaN,ON,Kabul Farms Supermarket and Hot Plate,v-1610335499
3,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,1096,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,ON,Seaton Supermarket,v-1610335499
4,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4eebf15bb634f754418769de,NaN,CA,Toronto,Canada,Dundas and Parliament,1078,"[Dundas and Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65916750679724...",43.659168,-79.367238,NaN,ON,Surma Supermarket,v-1610335499

In [63]:
latitude='43.644771'
longitude='-79.373306'
url56 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url56 
results56 = requests.get(url56).json()
results56 
# assign relevant part of JSON to venues
venues = results56['response']['venues']

# tranform venues into a dataframe
dataframe56 = json_normalize(venues)
dataframe56.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,1168,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335499
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,698,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335499

In [64]:
latitude='43.657952'
longitude='-79.387383'
url57 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url57 
results57 = requests.get(url57).json()
results57 
# assign relevant part of JSON to venues
venues = results57['response']['venues']

# tranform venues into a dataframe
dataframe57 = json_normalize(venues)
dataframe57.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b82d211f964a52022e730e3,293 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,981,"[293 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.653526, 'lng':...",43.653526,-79.397923,M5T 2E6,ON,Hua Sheng Supermarket 華盛超級市場,v-1610335499,NaN
1,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,686,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335499,NaN
2,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b48f303f964a520ee5e26e3,253 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,1057,"[253 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.65210663093202...",43.652107,-79.397726,M5T 2E3,ON,Kai Wei Supermarket 華隆超級市場,v-1610335499,NaN
3,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bc783526501c9b627933e29,247 Spadina Ave.,CA,Toronto,Canada,NaN,1094,"[247 Spadina Ave., Toronto ON M5T, Canada]","[{'label': 'display', 'lat': 43.65137721325712...",43.651377,-79.397485,M5T,ON,ChinaCity Supermarket,v-1610335499,NaN
4,"[{'id': '4bf58dd8d48988d117951735', 'name': 'C...",False,4c6f2e1eb5a5236abb954c52,20 Carlton St.,CA,Toronto,Canada,at Church St.,774,"[20 Carlton St. (at Church St.), Toronto ON M5...","[{'label': 'display', 'lat': 43.66194809127718...",43.661948,-79.379516,M5B 2H5,ON,Maple Leaf Supermarket,v-1610335499,NaN

In [65]:
latitude='43.650571'
longitude='-79.384568'
url58 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url58 
results58 = requests.get(url58).json()
results58 
# assign relevant part of JSON to venues
venues = results58['response']['venues']

# tranform venues into a dataframe
dataframe58 = json_normalize(venues)
dataframe58.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,368,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335499
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,932,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335499

In [66]:
latitude='43.640816'
longitude='-79.381752'
url59 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url59 
results59 = requests.get(url59).json()
results59 
# assign relevant part of JSON to venues
venues = results59['response']['venues']

# tranform venues into a dataframe
dataframe59 = json_normalize(venues)
dataframe59.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,1383,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335500
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,191,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335500

In [67]:
latitude='43.647177'
longitude='-79.381576'
url60 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url60 
results60 = requests.get(url60).json()
results60 
# assign relevant part of JSON to venues
venues = results60['response']['venues']

# tranform venues into a dataframe
dataframe60 = json_normalize(venues)
dataframe60.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,676,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335500
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,518,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335500

In [68]:
latitude='43.648198'
longitude='-79.379817'
url61 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url61 
results61 = requests.get(url61).json()
results61 
# assign relevant part of JSON to venues
venues = results61['response']['venues']

# tranform venues into a dataframe
dataframe61 = json_normalize(venues)
dataframe61.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,585,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335500
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,645,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335500

In [69]:
latitude='43.733283'
longitude='-79.419750'
url62 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url62 
results62 = requests.get(url62).json()
results62 
# assign relevant part of JSON to venues
venues = results62['response']['venues']

# tranform venues into a dataframe
dataframe62 = json_normalize(venues)
dataframe62.head()

Empty DataFrame
Columns: []
Index: []

In [70]:
latitude='43.711695'
longitude='-79.416936'
url63 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url63 
results63 = requests.get(url63).json()
results63 
# assign relevant part of JSON to venues
venues = results63['response']['venues']

# tranform venues into a dataframe
dataframe63 = json_normalize(venues)
dataframe63.head()

Empty DataFrame
Columns: []
Index: []

In [71]:
latitude='43.696948'
longitude='-79.411307'
url64 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url64 
results64 = requests.get(url64).json()
results64 
# assign relevant part of JSON to venues
venues = results64['response']['venues']

# tranform venues into a dataframe
dataframe64 = json_normalize(venues)
dataframe64.head()

Empty DataFrame
Columns: []
Index: []

In [72]:
latitude='43.672710'
longitude='-79.405678'
url65 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url65 
results65 = requests.get(url65).json()
results65 
# assign relevant part of JSON to venues
venues = results65['response']['venues']

# tranform venues into a dataframe
dataframe65 = json_normalize(venues)
dataframe65.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af1c975f964a5202de321e3,425 Bloor St W,CA,Toronto,Canada,at Walmer Rd,715,"[425 Bloor St W (at Walmer Rd), Toronto ON M5S...","[{'label': 'display', 'lat': 43.66629280196834...",43.666293,-79.405139,M5S 1X6,ON,Metro,v-1610335500,599164673
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,59790aa1e65d0c0791af30a8,351 Bloor St W,CA,Toronto,Canada,at Huron St,708,"[351 Bloor St W (at Huron St), Toronto ON M5S ...","[{'label': 'display', 'lat': 43.66717903349179...",43.667179,-79.401335,M5S 1W7,ON,Galleria Express,v-1610335500,NaN

In [73]:
latitude='43.662696'
longitude='-79.400049'
url66 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url66 
results66 = requests.get(url66).json()
results66 
# assign relevant part of JSON to venues
venues = results66['response']['venues']

# tranform venues into a dataframe
dataframe66 = json_normalize(venues)
dataframe66.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4ad4c05df964a5206af620e3,268 Augusta Ave.,CA,Toronto,Canada,at College St.,709,"[268 Augusta Ave. (at College St.), Toronto ON...","[{'label': 'display', 'lat': 43.65667989877377...",43.656680,-79.402954,M5T 2L9,ON,The Supermarket,v-1610335501,NaN
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b82d211f964a52022e730e3,293 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,1035,"[293 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.653526, 'lng':...",43.653526,-79.397923,M5T 2E6,ON,Hua Sheng Supermarket 華盛超級市場,v-1610335501,NaN
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b804b28f964a5200f6530e3,247 Augusta Ave,CA,Toronto,Canada,at Baldwin St,884,"[247 Augusta Ave (at Baldwin St), Toronto ON M...","[{'label': 'display', 'lat': 43.65489448176307...",43.654894,-79.402146,M5T 2L8,ON,Perola Supermarket,v-1610335501,67606678
3,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af1c975f964a5202de321e3,425 Bloor St W,CA,Toronto,Canada,at Walmer Rd,573,"[425 Bloor St W (at Walmer Rd), Toronto ON M5S...","[{'label': 'display', 'lat': 43.66629280196834...",43.666293,-79.405139,M5S 1X6,ON,Metro,v-1610335501,599164673
4,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,59790aa1e65d0c0791af30a8,351 Bloor St W,CA,Toronto,Canada,at Huron St,509,"[351 Bloor St W (at Huron St), Toronto ON M5S ...","[{'label': 'display', 'lat': 43.66717903349179...",43.667179,-79.401335,M5S 1W7,ON,Galleria Express,v-1610335501,NaN

In [74]:
latitude='43.653206'
longitude='-79.400049'
url67 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url67 
results67 = requests.get(url67).json()
results67 
# assign relevant part of JSON to venues
venues = results67['response']['venues']

# tranform venues into a dataframe
dataframe67 = json_normalize(venues)
dataframe67.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b82d211f964a52022e730e3,293 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,174,"[293 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.653526, 'lng':...",43.653526,-79.397923,M5T 2E6,ON,Hua Sheng Supermarket 華盛超級市場,v-1610335501,NaN
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b48f303f964a520ee5e26e3,253 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,223,"[253 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.65210663093202...",43.652107,-79.397726,M5T 2E3,ON,Kai Wei Supermarket 華隆超級市場,v-1610335501,NaN
2,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4ad4c05df964a5206af620e3,268 Augusta Ave.,CA,Toronto,Canada,at College St.,451,"[268 Augusta Ave. (at College St.), Toronto ON...","[{'label': 'display', 'lat': 43.65667989877377...",43.656680,-79.402954,M5T 2L9,ON,The Supermarket,v-1610335501,NaN
3,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bc783526501c9b627933e29,247 Spadina Ave.,CA,Toronto,Canada,NaN,290,"[247 Spadina Ave., Toronto ON M5T, Canada]","[{'label': 'display', 'lat': 43.65137721325712...",43.651377,-79.397485,M5T,ON,ChinaCity Supermarket,v-1610335501,NaN
4,[],False,4c0151d84f1ea593674b6b7d,NaN,CA,NaN,Canada,NaN,115,[Canada],"[{'label': 'display', 'lat': 43.652733, 'lng':...",43.652733,-79.401329,NaN,NaN,Lusitania Supermarket,v-1610335501,NaN

In [75]:
latitude='43.628947'
longitude='-79.394420'
url68 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url68 
results68 = requests.get(url68).json()
results68 
# assign relevant part of JSON to venues
venues = results68['response']['venues']

# tranform venues into a dataframe
dataframe68 = json_normalize(venues)
dataframe68.head()

Empty DataFrame
Columns: []
Index: []

In [76]:
latitude='43.646435'
longitude='-79.374846'
url69 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url69 
results69 = requests.get(url69).json()
results69 
# assign relevant part of JSON to venues
venues = results69['response']['venues']

# tranform venues into a dataframe
dataframe69 = json_normalize(venues)
dataframe69.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,945,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335501
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,684,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335501

In [77]:
latitude='43.648429'
longitude='-79.382280'
url70 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url70 
results70 = requests.get(url70).json()
results70 
# assign relevant part of JSON to venues
venues = results70['response']['venues']

# tranform venues into a dataframe
dataframe70 = json_normalize(venues)
dataframe70.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,537,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,ON,The Supermarket,v-1610335501
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,662,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335501

In [78]:
latitude='43.718518'
longitude='-79.464763'
url71 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url71 
results71 = requests.get(url71).json()
results71 
# assign relevant part of JSON to venues
venues = results71['response']['venues']

# tranform venues into a dataframe
dataframe71 = json_normalize(venues)
dataframe71.head()

Empty DataFrame
Columns: []
Index: []

In [79]:
latitude='43.709577'
longitude='-79.445073'
url72 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url72 
results72 = requests.get(url72).json()
results72 
# assign relevant part of JSON to venues
venues = results72['response']['venues']

# tranform venues into a dataframe
dataframe72 = json_normalize(venues)
dataframe72.head()

Empty DataFrame
Columns: []
Index: []

In [80]:
latitude='43.693781'
longitude='-79.428191'
url73 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url73 
results73 = requests.get(url73).json()
results73 
# assign relevant part of JSON to venues
venues = results73['response']['venues']

# tranform venues into a dataframe
dataframe73 = json_normalize(venues)
dataframe73.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e9df1566c251c381e2f7c9e,427 Vaughan Rd,CA,York,Canada,NaN,599,"[427 Vaughan Rd, York ON, Canada]","[{'label': 'display', 'lat': 43.68880850655644...",43.688809,-79.431052,NaN,ON,Three Brothers Supermarket,v-1610335502
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c86e638110176b0e9cab340,468 Vaughan Road,CA,Toronto,Canada,Atlas Av,706,"[468 Vaughan Road (Atlas Av), Toronto ON M6C 3...","[{'label': 'display', 'lat': 43.6894497552931,...",43.689450,-79.434602,M6C 3P9,ON,K & K,v-1610335502

In [81]:
latitude='43.689026'
longitude='-79.453512'
url74 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url74 
results74 = requests.get(url74).json()
results74 
# assign relevant part of JSON to venues
venues = results74['response']['venues']

# tranform venues into a dataframe
dataframe74 = json_normalize(venues)
dataframe74.head()

Empty DataFrame
Columns: []
Index: []

In [82]:
latitude='43.669542'
longitude='-79.422564'
url75 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url75 
results75 = requests.get(url75).json()
results75 
# assign relevant part of JSON to venues
venues = results75['response']['venues']

# tranform venues into a dataframe
dataframe75 = json_normalize(venues)
dataframe75.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d113941735', 'name': 'K...",False,4ba26278f964a52093f337e3,698 Bloor St W,CA,Toronto,Canada,NaN,750,"[698 Bloor St W, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66387468, 'lng...",43.663875,-79.41752,NaN,ON,E-Mart Korean Supermarket,v-1610335502
1,[],False,4c3ce0e9a97bbe9a7f1efbdd,NaN,CA,NaN,Canada,NaN,961,[Canada],"[{'label': 'display', 'lat': 43.661566, 'lng':...",43.661566,-79.42716,NaN,NaN,Canasia Supermarket,v-1610335502
2,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e406cc418389e021462af0b,Davenport,CA,Toronto,Canada,Westmoreland,1206,"[Davenport (Westmoreland), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.67608835086229...",43.676088,-79.43450,NaN,ON,Boa Hora Supermarket,v-1610335502
3,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b454f0ff964a520590a26e3,675 Bloor St W,CA,Toronto,Canada,at Manning Ave,798,"[675 Bloor St W (at Manning Ave), Toronto ON M...","[{'label': 'display', 'lat': 43.66395515985428...",43.663955,-79.41634,M6G 1L3,ON,P.A.T. Central Market 한국식품,v-1610335502

In [83]:
latitude='43.669005'
longitude='-79.442259'
url76 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url76 
results76 = requests.get(url76).json()
results76 
# assign relevant part of JSON to venues
venues = results76['response']['venues']

# tranform venues into a dataframe
dataframe76 = json_normalize(venues)
dataframe76.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e96ea807ee65b1674bd1475,NaN,CA,Toronto,Canada,NaN,496,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66594309531715...",43.665943,-79.437778,NaN,ON,Olympia Supermarket,v-1610335502
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bc4e3594cdfc9b6e1509921,152 Wallace Ave,CA,Toronto,Canada,at Emerson Ave,704,"[152 Wallace Ave (at Emerson Ave), Toronto ON ...","[{'label': 'display', 'lat': 43.66268094573783...",43.662681,-79.442526,M6H 1V2,ON,Henriques Supermarket,v-1610335502
2,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4ddac20d45dd588c7211f39b,1162 Bloor St. West,CA,Toronto,Canada,NaN,853,"[1162 Bloor St. West, Toronto ON M6H 1N1, Canada]","[{'label': 'display', 'lat': 43.66134111, 'lng...",43.661341,-79.441931,M6H 1N1,ON,Do Rego Supermarket,v-1610335502
3,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e406cc418389e021462af0b,Davenport,CA,Toronto,Canada,Westmoreland,1005,"[Davenport (Westmoreland), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.67608835086229...",43.676088,-79.434500,NaN,ON,Boa Hora Supermarket,v-1610335502

In [84]:
latitude='43.647927'
longitude='-79.419750'
url77 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url77 
results77 = requests.get(url77).json()
results77 
# assign relevant part of JSON to venues
venues = results77['response']['venues']

# tranform venues into a dataframe
dataframe77 = json_normalize(venues)
dataframe77.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,5b777aff1543c7002c58d4dd,NaN,CA,Toronto,Canada,NaN,257,"[Toronto ON M6J 1X3, Canada]","[{'label': 'display', 'lat': 43.649309, 'lng':...",43.649309,-79.422319,M6J 1X3,ON,King’s Fruit Supermarket,v-1610335502,NaN
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ee6928cd3e34ebcf1d9d1d2,878 Dundas,CA,Toronto,Canada,Claremont St,759,"[878 Dundas (Claremont St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.651251, 'lng':...",43.651251,-79.411518,NaN,ON,Dundas St Supermarket,v-1610335502,NaN
2,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af457d8f964a5207ef121e3,100 Lynn Williams St,CA,Toronto,Canada,Liberty Village,921,"[100 Lynn Williams St (Liberty Village), Toron...","[{'label': 'display', 'lat': 43.6398010846417,...",43.639801,-79.417547,M6K 3N6,ON,Metro,v-1610335502,597157643

In [85]:
latitude='43.636847'
longitude='-79.428191'
url78 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url78 
results78 = requests.get(url78).json()
results78 
# assign relevant part of JSON to venues
venues = results78['response']['venues']

# tranform venues into a dataframe
dataframe78 = json_normalize(venues)
dataframe78.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bb8e4173db7b71388be219a,1431 Queen St W,CA,Toronto,Canada,NaN,296,"[1431 Queen St W, Toronto ON M6K 1M3, Canada]","[{'label': 'display', 'lat': 43.63426492148706...",43.634265,-79.429112,M6K 1M3,ON,Queen Supermarket,v-1610335502,NaN
1,"[{'id': '4bf58dd8d48988d1f9941735', 'name': 'F...",False,52a7535011d25ca6273cc5de,NaN,CA,NaN,Canada,NaN,737,[Canada],"[{'label': 'display', 'lat': 43.64095368742944...",43.640954,-79.435371,NaN,NaN,Lucky Supermarket,v-1610335502,NaN
2,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af457d8f964a5207ef121e3,100 Lynn Williams St,CA,Toronto,Canada,Liberty Village,918,"[100 Lynn Williams St (Liberty Village), Toron...","[{'label': 'display', 'lat': 43.6398010846417,...",43.639801,-79.417547,M6K 3N6,ON,Metro,v-1610335502,597157643
3,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4e0d1f33c65ba20da213d9d5,1474 Queen St W,CA,Toronto,Canada,NaN,809,"[1474 Queen St W, Toronto ON M6K 1M4, Canada]","[{'label': 'display', 'lat': 43.640435, 'lng':...",43.640435,-79.436935,M6K 1M4,ON,Bala Super Market,v-1610335502,NaN

In [86]:
latitude='43.713756'
longitude='-79.490074'
url79 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url79 
results79 = requests.get(url79).json()
results79 
# assign relevant part of JSON to venues
venues = results79['response']['venues']

# tranform venues into a dataframe
dataframe79 = json_normalize(venues)
dataframe79.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4f776817e4b0e91fa6ec58cc,1-1635 Lawrence Avenue West,CA,Toronto,Canada,Black Creek Drive,1044,[1-1635 Lawrence Avenue West (Black Creek Driv...,"[{'label': 'display', 'lat': 43.70452431495363...",43.704524,-79.492404,M6L 3C9,ON,Superking Supermarket 鸿發 Siêu Thi Dai Vuong,v-1610335502
1,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4da9c4b40437dccbd7f3c7e0,NaN,CA,Toronto,Canada,NaN,830,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.71538724093072...",43.715387,-79.480004,NaN,ON,Cataldi supermarket,v-1610335503
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4db30d3b81543d71da27b7f1,1635 Lawrence Ave West,CA,Toronto,Canada,Black Creek Drive,1035,"[1635 Lawrence Ave West (Black Creek Drive), T...","[{'label': 'display', 'lat': 43.7046142428013,...",43.704614,-79.492482,NaN,ON,Sieu Thi Dai Giang (Lawrence Supermarket),v-1610335503
3,[],False,4c64409e58810f47a1b40b1e,1635 Lawrence Ave. W,CA,Toronto,Canada,at Black Creek Dr.,1004,"[1635 Lawrence Ave. W (at Black Creek Dr.), To...","[{'label': 'display', 'lat': 43.70490518087379...",43.704905,-79.492509,M6L 3C9,ON,Lawrence Supermarket,v-1610335503

In [87]:
latitude='43.691116'
longitude='-79.476013'
url80 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url80 
results80 = requests.get(url80).json()
results80 
# assign relevant part of JSON to venues
venues = results80['response']['venues']

# tranform venues into a dataframe
dataframe80 = json_normalize(venues)
dataframe80.head()

Empty DataFrame
Columns: []
Index: []

In [88]:
latitude='43.673185'
longitude='-79.487262'
url81 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url81 
results81 = requests.get(url81).json()
results81 
# assign relevant part of JSON to venues
venues = results81['response']['venues']

# tranform venues into a dataframe
dataframe81 = json_normalize(venues)
dataframe81.head()

Empty DataFrame
Columns: []
Index: []

In [89]:
latitude='43.661608'
longitude='-79.464763'
url82 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url82 
results82 = requests.get(url82).json()
results82 
# assign relevant part of JSON to venues
venues = results82['response']['venues']

# tranform venues into a dataframe
dataframe82 = json_normalize(venues)
dataframe82.head()

Empty DataFrame
Columns: []
Index: []

In [90]:
latitude='43.648960'
longitude='-79.456325'
url83 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url83 
results83 = requests.get(url83).json()
results83 
# assign relevant part of JSON to venues
venues = results83['response']['venues']

# tranform venues into a dataframe
dataframe83 = json_normalize(venues)
dataframe83.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bb62a19ef159c74d88275f7,Roncesvalles,CA,Toronto,Canada,Grenadier,494,"[Roncesvalles (Grenadier), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.64907498553138...",43.649075,-79.450185,ON,Master Supermarket,v-1610335503

In [91]:
latitude='43.651571'
longitude='-79.484450'
url84 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url84 
results84 = requests.get(url84).json()
results84 
# assign relevant part of JSON to venues
venues = results84['response']['venues']

# tranform venues into a dataframe
dataframe84 = json_normalize(venues)
dataframe84.head()

Empty DataFrame
Columns: []
Index: []

In [92]:
latitude='43.662301'
longitude='-79.389494'
url85 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url85 
results85 = requests.get(url85).json()
results85 
# assign relevant part of JSON to venues
venues = results85['response']['venues']

# tranform venues into a dataframe
dataframe85 = json_normalize(venues)
dataframe85.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d117951735', 'name': 'C...",False,4c6f2e1eb5a5236abb954c52,20 Carlton St.,CA,Toronto,Canada,at Church St.,804,"[20 Carlton St. (at Church St.), Toronto ON M5...","[{'label': 'display', 'lat': 43.66194809127718...",43.661948,-79.379516,M5B 2H5,ON,Maple Leaf Supermarket,v-1610335503
1,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b959489f964a52086aa34e3,140 Carlton St.,CA,Toronto,Canada,NaN,1119,"[140 Carlton St., Toronto ON M5A 4N9, Canada]","[{'label': 'display', 'lat': 43.66268506992159...",43.662685,-79.375597,M5A 4N9,ON,Little Bee Supermarket,v-1610335503
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,59790aa1e65d0c0791af30a8,351 Bloor St W,CA,Toronto,Canada,at Huron St,1097,"[351 Bloor St W (at Huron St), Toronto ON M5S ...","[{'label': 'display', 'lat': 43.66717903349179...",43.667179,-79.401335,M5S 1W7,ON,Galleria Express,v-1610335503

In [93]:
latitude='43.636966'
longitude='-79.615819'
url86 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url86 
results86 = requests.get(url86).json()
results86 
# assign relevant part of JSON to venues
venues = results86['response']['venues']

# tranform venues into a dataframe
dataframe86 = json_normalize(venues)
dataframe86.head()

Empty DataFrame
Columns: []
Index: []

In [94]:
latitude='43.662744'
longitude='-79.321558'
url87 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url87 
results87 = requests.get(url87).json()
results87 
# assign relevant part of JSON to venues
venues = results87['response']['venues']

# tranform venues into a dataframe
dataframe87 = json_normalize(venues)
dataframe87.head()

Empty DataFrame
Columns: []
Index: []

In [95]:
latitude='43.605647'
longitude='-79.501321'
url88 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url88 
results88 = requests.get(url88).json()
results88 
# assign relevant part of JSON to venues
venues = results88['response']['venues']

# tranform venues into a dataframe
dataframe88 = json_normalize(venues)
dataframe88.head()

Empty DataFrame
Columns: []
Index: []

In [96]:
latitude='43.602414'
longitude='-79.543484'
url89 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url89 
results89 = requests.get(url89).json()
results89 
# assign relevant part of JSON to venues
venues = results89['response']['venues']

# tranform venues into a dataframe
dataframe89 = json_normalize(venues)
dataframe89.head()

Empty DataFrame
Columns: []
Index: []

In [97]:
latitude='43.653654'
longitude='-79.506944'
url90 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url90 
results90 = requests.get(url90).json()
results90 
# assign relevant part of JSON to venues
venues = results90['response']['venues']

# tranform venues into a dataframe
dataframe90 = json_normalize(venues)
dataframe90.head()

Empty DataFrame
Columns: []
Index: []

In [98]:
latitude='43.636258'
longitude='-79.498509'
url91 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url91 
results91 = requests.get(url91).json()
results91 
# assign relevant part of JSON to venues
venues = results91['response']['venues']

# tranform venues into a dataframe
dataframe91 = json_normalize(venues)
dataframe91.head()

Empty DataFrame
Columns: []
Index: []

In [99]:
latitude='43.628841'
longitude='-79.520999'
url92 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url92 
results92 = requests.get(url92).json()
results92 
# assign relevant part of JSON to venues
venues = results92['response']['venues']

# tranform venues into a dataframe
dataframe92 = json_normalize(venues)
dataframe92.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d112951735', 'name': 'H...",False,4c617c593986e21e21b0964f,22 Jutland Road,CA,Toronto,Canada,Kipling,489,"[22 Jutland Road (Kipling), Toronto ON M8Z 2G9...","[{'label': 'display', 'lat': 43.626894, 'lng':...",43.626894,-79.526449,M8Z 2G9,ON,Metal Supermarket,v-1610335504

In [100]:
latitude='43.667856'
longitude='-79.532242'
url93 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url93 
results93 = requests.get(url93).json()
results93 
# assign relevant part of JSON to venues
venues = results93['response']['venues']

# tranform venues into a dataframe
dataframe93 = json_normalize(venues)
dataframe93.head()

Empty DataFrame
Columns: []
Index: []

In [101]:
latitude='43.650943'
longitude='-79.554724'
url94 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url94 
results94 = requests.get(url94).json()
results94 
# assign relevant part of JSON to venues
venues = results94['response']['venues']

# tranform venues into a dataframe
dataframe94 = json_normalize(venues)
dataframe94.head()

Empty DataFrame
Columns: []
Index: []

In [102]:
latitude='43.643515'
longitude='-79.577201'
url95 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url95 
results95 = requests.get(url95).json()
results95 
# assign relevant part of JSON to venues
venues = results95['response']['venues']

# tranform venues into a dataframe
dataframe95 = json_normalize(venues)
dataframe95.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'M...",False,5220ddae11d2c123ba44d720,666 Burnhamthorpe Road,CA,Etobicoke,Canada,173,"[666 Burnhamthorpe Road, Etobicoke ON, Canada]","[{'label': 'display', 'lat': 43.64195433940068...",43.641954,-79.577083,ON,Yi Xing Supermarket,v-1610335505

In [103]:
latitude='43.756303'
longitude='-79.565963'
url96 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url96 
results96 = requests.get(url96).json()
results96 
# assign relevant part of JSON to venues
venues = results96['response']['venues']

# tranform venues into a dataframe
dataframe96 = json_normalize(venues)
dataframe96.head()

Empty DataFrame
Columns: []
Index: []

In [104]:
latitude='43.724766'
longitude='-79.532242'
url97 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url97 
results97 = requests.get(url97).json()
results97 
# assign relevant part of JSON to venues
venues = results97['response']['venues']

# tranform venues into a dataframe
dataframe97 = json_normalize(venues)
dataframe97.head()

Empty DataFrame
Columns: []
Index: []

In [105]:
latitude='43.706876'
longitude='-79.518188'
url98 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url98 
results98 = requests.get(url98).json()
results98 
# assign relevant part of JSON to venues
venues = results98['response']['venues']

# tranform venues into a dataframe
dataframe98 = json_normalize(venues)
dataframe98.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4cb372c4eb65b1f74ec083cd,NaN,CA,NaN,Canada,NaN,589,[Canada],"[{'label': 'display', 'lat': 43.7016347647671,...",43.701635,-79.519201,NaN,Greenland Farm Supermarket,v-1610335505
1,"[{'id': '4bf58dd8d48988d123951735', 'name': 'S...",False,53946f9d498e57e1568b2ba6,John St.,CA,NaN,Canada,NaN,656,"[John St., Canada]","[{'label': 'display', 'lat': 43.701009, 'lng':...",43.701009,-79.517395,NaN,Ok Supermarket,v-1610335505
2,[],False,4beaff426295c9b6b1248708,NaN,CA,Weston,Canada,NaN,674,"[Weston ON, Canada]","[{'label': 'display', 'lat': 43.71290448434435...",43.712904,-79.517313,ON,Brioni's Supermarket,v-1610335505
3,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4fe1275ee4b0f221472204ae,2189-91 Weston Rd.,CA,North York,Canada,At Church St.,778,"[2189-91 Weston Rd. (At Church St.), North Yor...","[{'label': 'display', 'lat': 43.70380005204834...",43.703800,-79.526871,ON,Park's SUPERMARKET,v-1610335505
4,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5197b5d6498e64099ab34447,2655 Weston Road,CA,Southeast of Weston Road and H,Canada,NaN,1249,"[2655 Weston Road, Southeast of Weston Road an...","[{'label': 'display', 'lat': 43.71246877559165...",43.712469,-79.531652,NaN,Best Value Supermarket,v-1610335505

In [106]:
latitude='43.696319'
longitude='-79.532242'
url99 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url99 
results99 = requests.get(url99).json()
results99 
# assign relevant part of JSON to venues
venues = results99['response']['venues']

# tranform venues into a dataframe
dataframe99 = json_normalize(venues)
dataframe99.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4fe1275ee4b0f221472204ae,2189-91 Weston Rd.,CA,North York,Canada,At Church St.,938,"[2189-91 Weston Rd. (At Church St.), North Yor...","[{'label': 'display', 'lat': 43.70380005204834...",43.703800,-79.526871,NaN,ON,Park's SUPERMARKET,v-1610335505,NaN
1,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4e0b84a6fa76f9d12b92312c,1500 Royal York Rd,CA,Etobicoke,Canada,Trehorne,573,"[1500 Royal York Rd (Trehorne), Etobicoke ON M...","[{'label': 'display', 'lat': 43.69124813823024...",43.691248,-79.531010,M9P 3B6,ON,Metro,v-1610335505,600915403

In [107]:
latitude='43.688905'
longitude='-79.554724'
url100 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url100 
results100 = requests.get(url100).json()
results100 
# assign relevant part of JSON to venues
venues = results100['response']['venues']

# tranform venues into a dataframe
dataframe100 = json_normalize(venues)
dataframe100.head()

,categories,hasPerk,id,location.address,location.cc,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,name,referralId
0,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,509973b0e4b07f2d2b6e2928,Martinway Plaza,CA,Canada,Westway N Martingrove,1017,"[Martinway Plaza (Westway N Martingrove), Canada]","[{'label': 'display', 'lat': 43.68340091659107...",43.683401,-79.564814,Jas Supermarket,v-1610335506

In [108]:
latitude='43.739416'
longitude='-79.588437'
url101 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url101 
results101 = requests.get(url101).json()
results101 
# assign relevant part of JSON to venues
venues = results101['response']['venues']

# tranform venues into a dataframe
dataframe101 = json_normalize(venues)
dataframe101.head()

Empty DataFrame
Columns: []
Index: []

In [109]:
latitude='43.706748'
longitude='-79.594054'
url102 = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url102 
results102 = requests.get(url102).json()
results102 
# assign relevant part of JSON to venues
venues = results102['response']['venues']

# tranform venues into a dataframe
dataframe102 = json_normalize(venues)
dataframe102.head()

Empty DataFrame
Columns: []
Index: []

In [110]:
import pandas as pd
pd.concat ([dataframe0,dataframe1,dataframe2,dataframe3,dataframe4,dataframe5,dataframe6,dataframe7,dataframe8,dataframe9,dataframe10,dataframe11,dataframe12,dataframe13,dataframe14,dataframe15,dataframe16,dataframe17,dataframe18,dataframe19,dataframe20,dataframe21,dataframe22,dataframe23,dataframe24,dataframe25,dataframe26,dataframe27,dataframe28,dataframe29,dataframe30,dataframe31,dataframe32,dataframe33,dataframe34,dataframe35,dataframe36,dataframe37,dataframe38,dataframe39,dataframe40,dataframe41,dataframe42,dataframe43,dataframe44,dataframe45,dataframe46,dataframe47,dataframe48,dataframe49,dataframe50,dataframe51,dataframe52,dataframe53,dataframe54,dataframe55,dataframe56,dataframe57,dataframe58,dataframe59,dataframe60,dataframe61,dataframe62,dataframe63,dataframe64,dataframe65,dataframe66,dataframe67,dataframe68,dataframe69,dataframe70,dataframe71,dataframe72,dataframe73,dataframe74,dataframe75,dataframe76,dataframe77,dataframe78,dataframe79,dataframe80,dataframe81,dataframe82,dataframe83,dataframe84,dataframe85,dataframe86,dataframe87,dataframe88,dataframe89,dataframe90,dataframe91,dataframe92,dataframe93,dataframe94,dataframe95,dataframe96,dataframe97,dataframe98,dataframe99,dataframe100,dataframe101,dataframe102],ignore_index = True)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,539641d9498ee4f723c48089,1150 Morningside Ave,CA,Toronto,Canada,Milner,824,"[1150 Morningside Ave (Milner), Toronto ON M1B...","[{'label': 'display', 'lat': 43.80052789935291...",43.800528,-79.200064,Malvern,M1B 3A4,ON,Fusion Supermarket,v-1610335489,NaN
1,"[{'id': '4bf58dd8d48988d1f6941735', 'name': 'D...",False,55fc8fbe498ecf307388b81f,"1145 Morningside Ave #32, 33",CA,Toronto,Canada,NaN,708,"[1145 Morningside Ave #32, 33, Toronto ON M1B ...","[{'label': 'display', 'lat': 43.80111, 'lng': ...",43.801110,-79.198604,NaN,M1B 0A7,ON,Gunaam's Super Market,v-1610335489,NaN
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4be459f3d4f7c9b602072420,4473 Kingston Rd,CA,Scarborough,Canada,at Morningside Ave.,675,"[4473 Kingston Rd (at Morningside Ave.), Scarb...","[{'label': 'display', 'lat': 43.769591, 'lng':...",43.769591,-79.187669,NaN,M1E 2N7,ON,Joseph's No Frills,v-1610335490,NaN
3,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5b8d9bddc58ed7002ce75f9b,2141 Ellesmere,CA,Toronto,Canada,NaN,793,"[2141 Ellesmere, Toronto ON M1H 2Y5, Canada]","[{'label': 'display', 'lat': 43.77605, 'lng': ...",43.776050,-79.230470,NaN,M1H 2Y5,ON,Panchvati Supermarket,v-1610335490,NaN
4,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c438413f97fbe9a32f3b930,1255 Markham Rd,CA,Toronto,Canada,Progress,966,"[1255 Markham Rd (Progress), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.780335, 'lng':...",43.780335,-79.232750,NaN,NaN,ON,Sheung Thai Supermarket,v-1610335490,NaN
5,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4daca3b743a17e90f8e3f2f4,NaN,CA,Toronto,Canada,NaN,663,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.74651872778413...",43.746519,-79.231609,NaN,NaN,ON,M&S Supermarket,v-1610335490,NaN
6,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ec1a0a89911a2ec5cc79f26,"8 Greystone Walk Dr., Unit 11",CA,Scarborough,Canada,btwn Midland & Danforth,792,"[8 Greystone Walk Dr., Unit 11 (btwn Midland &...","[{'label': 'display', 'lat': 43.72505367662222...",43.725054,-79.253019,NaN,M1K 5J2,ON,Fu Yao Supermarket,v-1610335490,NaN
7,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d8e6619d265236a33c20917,678 Kennedy Rd.,CA,Toronto,Canada,at Merrian Rd.,365,"[678 Kennedy Rd. (at Merrian Rd.), Toronto ON ...","[{'label': 'display', 'lat': 43.72666927699861...",43.726669,-79.266229,NaN,M1K 2B5,ON,Al Janat Supermarket,v-1610335490,NaN
8,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ade6c044186865eb6950a98,NaN,CA,Toronto,Canada,NaN,1118,"[Toronto ON M1K 2S2, Canada]","[{'label': 'display', 'lat': 43.735378, 'lng':...",43.735378,-79.252700,NaN,M1K 2S2,ON,Eraa Supermarket,v-1610335490,NaN
9,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d8f73366174a093df6edee3,462 Birchmount Rd.,CA,Toronto,Canada,NaN,1024,"[462 Birchmount Rd., Toronto ON M1L 3X6, Canada]","[{'label': 'display', 'lat': 43.71170925519159...",43.711709,-79.271876,NaN,M1L 3X6,ON,Fu Yao Supermarket,v-1610335491,NaN
10,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4dc9b816c65b4fc1c47f70bf,3502 Danforth Ave,CA,Toronto,Canada,NaN,758,"[3502 Danforth Ave, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.6946133888628,...",43.694613,-79.273878,NaN,NaN,ON,Prince Supermarket,v-1610335491,NaN
11,"[{'id': '4bf58dd8d48988d142941735', 'name': 'A...",False,4c0d9bcc2466a593bfe87721,2300 Lawrence Ave E,CA,Toronto,Canada,NaN,846,"[2300 Lawrence Ave E, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.7503458515419,...",43.750346,-79.277188,NaN,NaN,ON,Lone Tai Supermarket,v-1610335491,NaN
12,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b36a979f964a520343a25e3,4466 Sheppard Ave. E,CA,Scarborough,Canada,at Brimley Rd.,710,"[4466 Sheppard Ave. E (at Brimley Rd.), Scarbo...","[{'label': 'display', 'lat': 43.78905492518265...",43.789055,-79.267261,NaN,M1S 1V2,ON,Farm Fresh Supermarket 大世界超級市場,v-1610335491,NaN
13,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b25ce09f964a5206a7624e3,2301 Brimley Rd,CA,Scarborough,Canada,Huntingwood Dr,789,"[2301 Brimley Rd (Huntingwood Dr), Scarborough...","[{'label': 'display', 'lat': 43.79783353131889...",43.797834,-79.270461,NaN,M1S 5B8,ON,Soon Tat Supermarket,v-1610335491,NaN
14,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,50a95357e4b04d89951c5cda,20 Nugget Ave,CA,Toronto,Canada,NaN,232,"[20 Nugget Ave, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.79312630005749...",43.793126,-79.259544,NaN,NaN,ON,Al Amaan Super Market,v-1610335491,NaN
15,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c59bc8b4ed9ef3b55e2d96d,3331 Sheppard Ave. E.,CA,Toronto,Canada,at Warden Ave.,669,"[3331 Sheppard Ave. E. (at Warden Ave.), Toron...","[{'label': 'display', 'lat': 43.77615538871523...",43.776155,-79.307727,NaN,NaN,ON,Food Depot Supermarket 泰錦超級市場,v-1610335492,NaN
16,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4cb8f0a3dd41a35db9a4dea0,2543 Pharmacy Ave.,CA,Toronto,Canada,at Corinthian Blvd.,1042,"[2543 Pharmacy Ave. (at Corinthian Blvd.), Tor...","[{'label': 'display', 'lat': 43.79228614621172...",43.792286,-79.326624,NaN,M1W 2K2,ON,Daily Needs Supermarket,v-1610335492,NaN
17,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b91b689f964a520f9d133e3,3030 Don Mills Rd.,CA,Toronto,Canada,in Peanut Plaza,904,"[3030 Don Mills Rd. (in Peanut Plaza), Toronto...","[{'label': 'display', 'lat': 43.78564527290788...",43.785645,-79.351961,NaN,M2J 3C1,ON,Tone Tai Supermarket 鼎泰超級市場,v-1610335492,NaN
18,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,500c56a8e4b0c0877f3b9966,NaN,CA,NaN,Canada,NaN,899,[Canada],"[{'label': 'display', 'lat': 43.78337009210020...",43.783370,-79.396017,NaN,NaN,NaN,Sunny Supermarket,v-1610335492,NaN
19,[],False,4bc0ffb14cdfc9b622f19321,NaN,CA,Toronto,Canada,Don mills and finch,1009,"[Don mills and finch, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.78891551086557...",43.788916,-79.373711,NaN,NaN,ON,Cloudy supermarket,v-1610335492,NaN
20,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bf47e7598ac0f47d41964a8,NaN,CA,NaN,Canada,NaN,833,[Canada],"[{'label': 'display', 'lat': 43.76276820682531...",43.762768,-79.410480,NaN,NaN,NaN,Supermarket,v-1610335493,NaN
21,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af2473cf964a52014e721e3,20 Church Ave,CA,North York,Canada,at Yonge St.,600,"[20 Church Ave (at Yonge St.), North York ON M...","[{'label': 'display', 'lat': 43.77417110604527...",43.774171,-79.413432,NaN,M2N 0B7,ON,Metro,v-1610335493,597910634
22,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4ccec87654f0b1f7f32824ca,865 York Mills Rd.,CA,Toronto,Canada,at Upjohn Rd.,874,"[865 York Mills Rd. (at Upjohn Rd.), Toronto O...","[{'label': 'display', 'lat': 43.75352001200256...",43.753520,-79.349518,NaN,M3B 1Y5,ON,Galleria Supermarket,v-1610335494,NaN
23,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ba01a86ab42d9002c77a331,888 Don Mills Rd - Unit 100,CA,Toronto,Canada,Barber Greene Rd,70,[888 Don Mills Rd - Unit 100 (Barber Greene Rd...,"[{'label': 'display', 'lat': 43.72555648813715...",43.725556,-79.341667,NaN,M3C 1V6,ON,C&C Supermarket,v-1610335494,NaN
24,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,58ed13fdb50d52250436b317,1235 Finch Avenue West,CA,Toronto,Canada,Finch And Alexdone,449,"[1235 Finch Avenue West (Finch And Alexdone), ...","[{'label': 'display', 'lat': 43.764066, 'lng':...",43.764066,-79.485904,NaN,M3J 2G4,ON,TPP Supermarket,v-1610335494,NaN
25,"[{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'M...",False,51e9b005498e4930349f83fc,NaN,CA,NaN,Canada,NaN,732,[Canada],"[{'label': 'display', 'lat': 43.7617991933506,...",43.761799,-79.490401,NaN,NaN,NaN,Burak supermarket keel and finch,v-1610335494,NaN
26,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ea30c1177c8d0ce5e35a6cd,1925 Sheppard Ave. W.,CA,Toronto,Canada,at Janes St.,411,"[1925 Sheppard Ave. W. (at Janes St.), Toronto...","[{'label': 'display', 'lat': 43.73919317312882...",43.739193,-79.512053,NaN,M3L 1Y8,ON,Win Farm Supermarket,v-1610335495,NaN
27,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d1e5b025acaa35dcb8db635,1105 Wilson Ave.,CA,North York,Canada,at Keele St.,1053,"[1105 Wilson Ave. (at Keele St.), North York O...","[{'label': 'display', 'lat': 43.72627030972754...",43.726270,-79.482972,NaN,M3M 1H2,ON,Btrust Supermarket,v-1610335495,NaN
28,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e7e0b117ee6ec38252d3886,1989 Finch Ave W,CA,Toronto,Canada,at Jane St,588,"[1989 Finch Ave W (at Jane St), Toronto ON M3N...","[{'label': 'display', 'lat': 43.75667320052111...",43.756673,-79.518444,NaN,M3N 2K2,ON,Jian Hing Supermarket,v-1610335495,NaN
29,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e2342fbfa761d67108f00cc,391 Lumsden Ave,CA,East York,Canada,Barrington Ave,1351,"[391 Lumsden Ave (Barrington Ave), East York O...","[{'label': 'display', 'lat': 43.69527510260859...",43.695275,-79.303210,NaN,M4C 2L6,ON,L.B. Supermarket,v-1610335495,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e96ea807ee65b1674bd1475,NaN,CA,Toronto,Canada,NaN,496,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66594309531715...",43.665943,-79.437778,NaN,NaN,ON,Olympia Supermarket,v-1610335502,NaN
115,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bc4e3594cdfc9b6e1509921,152 Wallace Ave,CA,Toronto,Canada,at Emerson Ave,704,"[152 Wallace Ave (at Emerson Ave), Toronto ON ...","[{'label': 'display', 'lat': 43.66268094573783...",43.662681,-79.442526,NaN,M6H 1V2,ON,Henriques Supermarket,v-1610335502,NaN
116,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4ddac20d45dd588c7211f39b,1162 Bloor St. West,CA,Toronto,Canada,NaN,853,"[1162 Bloor St. West, Toronto ON M6H 1N1, Canada]","[{'label': 'display', 'lat': 43.66134111, 'lng...",43.661341,-79.441931,NaN,M6H 1N1,ON,Do Rego Supermarket,v-1610335502,NaN
117,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e406cc418389e021462af0b,Davenport,CA,Toronto,Canada,Westmoreland,1005,"[Davenport (Westmoreland), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.67608835086229...",43.676088,-79.434500,NaN,NaN,ON,Boa Hora Supermarket,v-1610335502,NaN
118,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,5b777aff1543c7002c58d4dd,NaN,CA,Toronto,Canada,NaN,257,"[Toronto ON M6J 1X3, Canada]","[{'label': 'display', 'lat': 43.649309, 'lng':...",43.649309,-79.422319,NaN,M6J 1X3,ON,King’s Fruit Supermarket,v-1610335502,NaN
119,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ee6928cd3e34ebcf1d9d1d2,878 Dundas,CA,Toronto,Canada,Claremont St,759,"[878 Dundas (Claremont St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.651251, 'lng':...",43.651251,-79.411518,NaN,NaN,ON,Dundas St Supermarket,v-1610335502,NaN
120,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af457d8f964a5207ef121e3,100 Lynn Williams St,CA,Toronto,Canada,Liberty Village,921,"[100 Lynn Williams St (Liberty Village), Toron...","[{'label': 'display', 'lat': 43.6398010846417,...",43.639801,-79.417547,NaN,M6K 3N6,ON,Metro,v-1610335502,597157643
121,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bb8e4173db7b71388be219a,1431 Queen St W,CA,Toronto,Canada,NaN,296,"[1431 Queen St W, Toronto ON M6K 1M3, Canada]","[{'label': 'display', 'lat': 43.63426492148706...",43.634265,-79.429112,NaN,M6K 1M3,ON,Queen Supermarket,v-1610335502,NaN
122,"[{'id': '4bf58dd8d48988d1f9941735', 'name': 'F...",False,52a7535011d25ca6273cc5de,NaN,CA,NaN,Canada,NaN,737,[Canada],"[{'label': 'display', 'lat': 43.64095368742944...",43.640954,-79.435371,NaN,NaN,NaN,Lucky Supermarket,v-1610335502,NaN
123,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af457d8f964a5207ef121e3,100 Lynn Williams St,CA,Toronto,Canada,Liberty Village,918,"[100 Lynn Williams St (Liberty Village), Toron...","[{'label': 'display', 'lat': 43.6398010846417,...",43.639801,-79.417547,NaN,M6K 3N6,ON,Metro,v-1610335502,597157643
124,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4e0d1f33c65ba20da213d9d5,1474 Queen St W,CA,Toronto,Canada,NaN,809,"[1474 Queen St W, Toronto ON M6K 1M4, Canada]","[{'label': 'display', 'lat': 43.640435, 'lng':...",43.640435,-79.436935,NaN,M6K 1M4,ON,Bala Super Market,v-1610335502,NaN
125,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4f776817e4b0e91fa6ec58cc,1-1635 Lawrence Avenue West,CA,Toronto,Canada,Black Creek Drive,1044,[1-1635 Lawrence Avenue West (Black Creek Driv...,"[{'label': 'display', 'lat': 43.70452431495363...",43.704524,-79.492404,NaN,M6L 3C9,ON,Superking Supermarket 鸿發 Siêu Thi Dai Vuong,v-1610335502,NaN
126,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4da9c4b40437dccbd7f3c7e0,NaN,CA,Toronto,Canada,NaN,830,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.71538724093072...",43.715387,-79.480004,NaN,NaN,ON,Cataldi supermarket,v-1610335503,NaN
127,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4db30d3b81543d71da27b7f1,1635 Lawrence Ave West,CA,Toronto,Canada,Black Creek Drive,1035,"[1635 Lawrence Ave West (Black Creek Drive), T...","[{'label': 'display', 'lat': 43.7046142428013,...",43.704614,-79.492482,NaN,NaN,ON,Sieu Thi Dai Giang (Lawrence Supermarket),v-1610335503,NaN
128,[],False,4c64409e58810f47a1b40b1e,1635 Lawrence Ave. W,CA,Toronto,Canada,at Black Creek Dr.,1004,"[1635 Lawrence Ave. W (at Black Creek Dr.), To...","[{'label': 'display', 'lat': 43.70490518087379...",43.704905,-79.492509,NaN,M6L 3C9,ON,Lawrence Supermarket,v-1610335503,NaN
129,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bb62a19ef159c74d88275f7,Roncesvalles,CA,Toronto,Canada,Grenadier,494,"[Roncesvalles (Grenadier), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.64907498553138...",43.649075,-79.450185,NaN,NaN,ON,Master Supermarket,v-1610335503,NaN
130,"[{'id': '4bf58dd8d48988d117951735', 'name': 'C...",False,4c6f2e1eb5a5236abb954c52,20 Carlton St.,CA,Toronto,Canada,at Church St.,804,"[20 Carlton St. (at Church St.), Toronto ON M5...","[{'label': 'display', 'lat': 43.66194809127718...",43.661948,-79.379516,NaN,M5B 2H5,ON,Maple Leaf Supermarket,v-1610335503,NaN
131,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b959489f964a52086aa34e3,140 Carlton St.,CA,Toronto,Canada,NaN,1119,"[140 Carlton St., Toronto ON M5A 4N9, Canada]","[{'label': 'display', 'lat': 43.66268506992159...",43.662685,-79.375597,NaN,M5A 4N9,ON,Little Bee Supermarket,v-1610335503,NaN
132,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,59790aa1e65d0c0791af30a8,351 Bloor St W,CA,Toronto,Canada,at Huron St,1097,"[351 Bloor St W (at Huron St), Toronto ON M5S ...","[{'label': 'display', 'lat': 43.66717903349179...",43.667179,-79.401335,NaN,M5S 1W7,ON,Galleria Express,v-1610335503,NaN
133,"[{'id': '4bf58dd8d48988d112951735', 'name': 'H...",False,4c617c593986e21e21b0964f,22 Jutland Road,CA,Toronto,Canada,Kipling,489,"[22 Jutland Road (Kipling), Toronto ON M8Z 2G9...","[{'label': 'display', 'lat': 43.626894, 'lng':...",43.626894,-79.526449,NaN,M8Z 2G9,ON,Metal Supermarket,v-1610335504,NaN
134,"[{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'M...",False,5220ddae11d2c123ba44d720,666 Burnhamthorpe Road,CA,Etobicoke,Canada,NaN,173,"[666 Burnhamthorpe Road, Etobicoke ON, Canada]","[{'label': 'display', 'lat': 43.64195433940068...",43.641954,-79.577083,NaN,NaN,ON,Yi Xing Supermarket,v-1610335505,NaN
135,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4cb372c4eb65b1f74ec083cd,NaN,CA,NaN,Canada,NaN,589,[Canada],"[{'label': 'display', 'lat': 43.7016347647671,...",43.701635,-79.519201,NaN,NaN,NaN,Greenland Farm Supermarket,v-1610335505,NaN
136,"[{'id': '4bf58dd8d48988d123951735', 'name': 'S...",False,53946f9d498e57e1568b2ba6,John St.,CA,NaN,Canada,NaN,656,"[John St., Canada]","[{'label': 'display', 'lat': 43.701009, 'lng':...",43.701009,-79.517395,NaN,NaN,NaN,Ok Supermarket,v-1610335505,NaN
137,[],False,4beaff426295c9b6b1248708,NaN,CA,Weston,Canada,NaN,674,"[Weston ON, Canada]","[{'label': 'display', 'lat': 43.71290448434435...",43.712904,-79.517313,NaN,NaN,ON,Brioni's Supermarket,v-1610335505,NaN
138,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4fe1275ee4b0f221472204ae,2189-91 Weston Rd.,CA,North York,Canada,At Church St.,778,"[2189-91 Weston Rd. (At Church St.), North Yor...","[{'label': 'display', 'lat': 43.70380005204834...",43.703800,-79.526871,NaN,NaN,ON,Park's SUPERMARKET,v-1610335505,NaN
139,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5197b5d6498e64099ab34447,2655 Weston Road,CA,Southeast of Weston Road and H,Canada,NaN,1249,"[2655 Weston Road, Southeast of Weston Road an...","[{'label': 'display', 'lat': 43.71246877559165...",43.712469,-79.531652,NaN,NaN,NaN,Best Value Supermarket,v-1610335505,NaN
140,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5001c90ae4b0a4b26d02fdca,1642 Jane Street,CA,Toronto,Canada,Jane and Lawrence,1281,"[1642 Jane Street (Jane and Lawrence), Toronto...","[{'label': 'display', 'lat': 43.70135473213272...",43.701355,-79.504217,NaN,NaN,ON,Homeland West Indian Supermarket,v-1610335505,NaN
141,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4fe1275ee4b0f221472204ae,2189-91 Weston Rd.,CA,North York,Canada,At Church St.,938,"[2189-91 Weston Rd. (At Church St.), North Yor...","[{'label': 'display', 'lat': 43.70380005204834...",43.703800,-79.526871,NaN,NaN,ON,Park's SUPERMARKET,v-1610335505,NaN
142,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4e0b84a6fa76f9d12b92312c,1500 Royal York Rd,CA,Etobicoke,Canada,Trehorne,573,"[1500 Royal York Rd (Trehorne), Etobicoke ON M...","[{'label': 'display', 'lat': 43.69124813823024...",43.691248,-79.531010,NaN,M9P 3B6,ON,Metro,v-1610335505,600915403
143,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,509973b0e4b07f2d2b6e2928,Martinway Plaza,CA,NaN,Canada,Westway N Martingrove,1017,"[Martinway Plaza (Westway N Martingrove), Canada]","[{'label': 'display', 'lat': 43.68340091659107...",43.683401,-79.564814,NaN,NaN,NaN,Jas Supermarket,v-1610335506,NaN

In [111]:
# Projeto Capstone 4

In [112]:
import pandas as pd
BaseProject = pd.concat ([dataframe0,dataframe1,dataframe2,dataframe3,dataframe4,dataframe5,dataframe6,dataframe7,dataframe8,dataframe9,dataframe10,dataframe11,dataframe12,dataframe13,dataframe14,dataframe15,dataframe16,dataframe17,dataframe18,dataframe19,dataframe20,dataframe21,dataframe22,dataframe23,dataframe24,dataframe25,dataframe26,dataframe27,dataframe28,dataframe29,dataframe30,dataframe31,dataframe32,dataframe33,dataframe34,dataframe35,dataframe36,dataframe37,dataframe38,dataframe39,dataframe40,dataframe41,dataframe42,dataframe43,dataframe44,dataframe45,dataframe46,dataframe47,dataframe48,dataframe49,dataframe50,dataframe51,dataframe52,dataframe53,dataframe54,dataframe55,dataframe56,dataframe57,dataframe58,dataframe59,dataframe60,dataframe61,dataframe62,dataframe63,dataframe64,dataframe65,dataframe66,dataframe67,dataframe68,dataframe69,dataframe70,dataframe71,dataframe72,dataframe73,dataframe74,dataframe75,dataframe76,dataframe77,dataframe78,dataframe79,dataframe80,dataframe81,dataframe82,dataframe83,dataframe84,dataframe85,dataframe86,dataframe87,dataframe88,dataframe89,dataframe90,dataframe91,dataframe92,dataframe93,dataframe94,dataframe95,dataframe96,dataframe97,dataframe98,dataframe99,dataframe100,dataframe101,dataframe102],ignore_index = True)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

In [113]:
BaseProject.head(100)

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId,venuePage.id
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,539641d9498ee4f723c48089,1150 Morningside Ave,CA,Toronto,Canada,Milner,824,"[1150 Morningside Ave (Milner), Toronto ON M1B...","[{'label': 'display', 'lat': 43.80052789935291...",43.800528,-79.200064,Malvern,M1B 3A4,ON,Fusion Supermarket,v-1610335489,NaN
1,"[{'id': '4bf58dd8d48988d1f6941735', 'name': 'D...",False,55fc8fbe498ecf307388b81f,"1145 Morningside Ave #32, 33",CA,Toronto,Canada,NaN,708,"[1145 Morningside Ave #32, 33, Toronto ON M1B ...","[{'label': 'display', 'lat': 43.80111, 'lng': ...",43.801110,-79.198604,NaN,M1B 0A7,ON,Gunaam's Super Market,v-1610335489,NaN
2,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4be459f3d4f7c9b602072420,4473 Kingston Rd,CA,Scarborough,Canada,at Morningside Ave.,675,"[4473 Kingston Rd (at Morningside Ave.), Scarb...","[{'label': 'display', 'lat': 43.769591, 'lng':...",43.769591,-79.187669,NaN,M1E 2N7,ON,Joseph's No Frills,v-1610335490,NaN
3,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5b8d9bddc58ed7002ce75f9b,2141 Ellesmere,CA,Toronto,Canada,NaN,793,"[2141 Ellesmere, Toronto ON M1H 2Y5, Canada]","[{'label': 'display', 'lat': 43.77605, 'lng': ...",43.776050,-79.230470,NaN,M1H 2Y5,ON,Panchvati Supermarket,v-1610335490,NaN
4,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c438413f97fbe9a32f3b930,1255 Markham Rd,CA,Toronto,Canada,Progress,966,"[1255 Markham Rd (Progress), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.780335, 'lng':...",43.780335,-79.232750,NaN,NaN,ON,Sheung Thai Supermarket,v-1610335490,NaN
5,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4daca3b743a17e90f8e3f2f4,NaN,CA,Toronto,Canada,NaN,663,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.74651872778413...",43.746519,-79.231609,NaN,NaN,ON,M&S Supermarket,v-1610335490,NaN
6,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ec1a0a89911a2ec5cc79f26,"8 Greystone Walk Dr., Unit 11",CA,Scarborough,Canada,btwn Midland & Danforth,792,"[8 Greystone Walk Dr., Unit 11 (btwn Midland &...","[{'label': 'display', 'lat': 43.72505367662222...",43.725054,-79.253019,NaN,M1K 5J2,ON,Fu Yao Supermarket,v-1610335490,NaN
7,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d8e6619d265236a33c20917,678 Kennedy Rd.,CA,Toronto,Canada,at Merrian Rd.,365,"[678 Kennedy Rd. (at Merrian Rd.), Toronto ON ...","[{'label': 'display', 'lat': 43.72666927699861...",43.726669,-79.266229,NaN,M1K 2B5,ON,Al Janat Supermarket,v-1610335490,NaN
8,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ade6c044186865eb6950a98,NaN,CA,Toronto,Canada,NaN,1118,"[Toronto ON M1K 2S2, Canada]","[{'label': 'display', 'lat': 43.735378, 'lng':...",43.735378,-79.252700,NaN,M1K 2S2,ON,Eraa Supermarket,v-1610335490,NaN
9,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d8f73366174a093df6edee3,462 Birchmount Rd.,CA,Toronto,Canada,NaN,1024,"[462 Birchmount Rd., Toronto ON M1L 3X6, Canada]","[{'label': 'display', 'lat': 43.71170925519159...",43.711709,-79.271876,NaN,M1L 3X6,ON,Fu Yao Supermarket,v-1610335491,NaN
10,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4dc9b816c65b4fc1c47f70bf,3502 Danforth Ave,CA,Toronto,Canada,NaN,758,"[3502 Danforth Ave, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.6946133888628,...",43.694613,-79.273878,NaN,NaN,ON,Prince Supermarket,v-1610335491,NaN
11,"[{'id': '4bf58dd8d48988d142941735', 'name': 'A...",False,4c0d9bcc2466a593bfe87721,2300 Lawrence Ave E,CA,Toronto,Canada,NaN,846,"[2300 Lawrence Ave E, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.7503458515419,...",43.750346,-79.277188,NaN,NaN,ON,Lone Tai Supermarket,v-1610335491,NaN
12,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b36a979f964a520343a25e3,4466 Sheppard Ave. E,CA,Scarborough,Canada,at Brimley Rd.,710,"[4466 Sheppard Ave. E (at Brimley Rd.), Scarbo...","[{'label': 'display', 'lat': 43.78905492518265...",43.789055,-79.267261,NaN,M1S 1V2,ON,Farm Fresh Supermarket 大世界超級市場,v-1610335491,NaN
13,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b25ce09f964a5206a7624e3,2301 Brimley Rd,CA,Scarborough,Canada,Huntingwood Dr,789,"[2301 Brimley Rd (Huntingwood Dr), Scarborough...","[{'label': 'display', 'lat': 43.79783353131889...",43.797834,-79.270461,NaN,M1S 5B8,ON,Soon Tat Supermarket,v-1610335491,NaN
14,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,50a95357e4b04d89951c5cda,20 Nugget Ave,CA,Toronto,Canada,NaN,232,"[20 Nugget Ave, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.79312630005749...",43.793126,-79.259544,NaN,NaN,ON,Al Amaan Super Market,v-1610335491,NaN
15,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c59bc8b4ed9ef3b55e2d96d,3331 Sheppard Ave. E.,CA,Toronto,Canada,at Warden Ave.,669,"[3331 Sheppard Ave. E. (at Warden Ave.), Toron...","[{'label': 'display', 'lat': 43.77615538871523...",43.776155,-79.307727,NaN,NaN,ON,Food Depot Supermarket 泰錦超級市場,v-1610335492,NaN
16,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4cb8f0a3dd41a35db9a4dea0,2543 Pharmacy Ave.,CA,Toronto,Canada,at Corinthian Blvd.,1042,"[2543 Pharmacy Ave. (at Corinthian Blvd.), Tor...","[{'label': 'display', 'lat': 43.79228614621172...",43.792286,-79.326624,NaN,M1W 2K2,ON,Daily Needs Supermarket,v-1610335492,NaN
17,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b91b689f964a520f9d133e3,3030 Don Mills Rd.,CA,Toronto,Canada,in Peanut Plaza,904,"[3030 Don Mills Rd. (in Peanut Plaza), Toronto...","[{'label': 'display', 'lat': 43.78564527290788...",43.785645,-79.351961,NaN,M2J 3C1,ON,Tone Tai Supermarket 鼎泰超級市場,v-1610335492,NaN
18,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,500c56a8e4b0c0877f3b9966,NaN,CA,NaN,Canada,NaN,899,[Canada],"[{'label': 'display', 'lat': 43.78337009210020...",43.783370,-79.396017,NaN,NaN,NaN,Sunny Supermarket,v-1610335492,NaN
19,[],False,4bc0ffb14cdfc9b622f19321,NaN,CA,Toronto,Canada,Don mills and finch,1009,"[Don mills and finch, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.78891551086557...",43.788916,-79.373711,NaN,NaN,ON,Cloudy supermarket,v-1610335492,NaN
20,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bf47e7598ac0f47d41964a8,NaN,CA,NaN,Canada,NaN,833,[Canada],"[{'label': 'display', 'lat': 43.76276820682531...",43.762768,-79.410480,NaN,NaN,NaN,Supermarket,v-1610335493,NaN
21,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af2473cf964a52014e721e3,20 Church Ave,CA,North York,Canada,at Yonge St.,600,"[20 Church Ave (at Yonge St.), North York ON M...","[{'label': 'display', 'lat': 43.77417110604527...",43.774171,-79.413432,NaN,M2N 0B7,ON,Metro,v-1610335493,597910634
22,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4ccec87654f0b1f7f32824ca,865 York Mills Rd.,CA,Toronto,Canada,at Upjohn Rd.,874,"[865 York Mills Rd. (at Upjohn Rd.), Toronto O...","[{'label': 'display', 'lat': 43.75352001200256...",43.753520,-79.349518,NaN,M3B 1Y5,ON,Galleria Supermarket,v-1610335494,NaN
23,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ba01a86ab42d9002c77a331,888 Don Mills Rd - Unit 100,CA,Toronto,Canada,Barber Greene Rd,70,[888 Don Mills Rd - Unit 100 (Barber Greene Rd...,"[{'label': 'display', 'lat': 43.72555648813715...",43.725556,-79.341667,NaN,M3C 1V6,ON,C&C Supermarket,v-1610335494,NaN
24,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,58ed13fdb50d52250436b317,1235 Finch Avenue West,CA,Toronto,Canada,Finch And Alexdone,449,"[1235 Finch Avenue West (Finch And Alexdone), ...","[{'label': 'display', 'lat': 43.764066, 'lng':...",43.764066,-79.485904,NaN,M3J 2G4,ON,TPP Supermarket,v-1610335494,NaN
25,"[{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'M...",False,51e9b005498e4930349f83fc,NaN,CA,NaN,Canada,NaN,732,[Canada],"[{'label': 'display', 'lat': 43.7617991933506,...",43.761799,-79.490401,NaN,NaN,NaN,Burak supermarket keel and finch,v-1610335494,NaN
26,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ea30c1177c8d0ce5e35a6cd,1925 Sheppard Ave. W.,CA,Toronto,Canada,at Janes St.,411,"[1925 Sheppard Ave. W. (at Janes St.), Toronto...","[{'label': 'display', 'lat': 43.73919317312882...",43.739193,-79.512053,NaN,M3L 1Y8,ON,Win Farm Supermarket,v-1610335495,NaN
27,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d1e5b025acaa35dcb8db635,1105 Wilson Ave.,CA,North York,Canada,at Keele St.,1053,"[1105 Wilson Ave. (at Keele St.), North York O...","[{'label': 'display', 'lat': 43.72627030972754...",43.726270,-79.482972,NaN,M3M 1H2,ON,Btrust Supermarket,v-1610335495,NaN
28,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e7e0b117ee6ec38252d3886,1989 Finch Ave W,CA,Toronto,Canada,at Jane St,588,"[1989 Finch Ave W (at Jane St), Toronto ON M3N...","[{'label': 'display', 'lat': 43.75667320052111...",43.756673,-79.518444,NaN,M3N 2K2,ON,Jian Hing Supermarket,v-1610335495,NaN
29,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e2342fbfa761d67108f00cc,391 Lumsden Ave,CA,East York,Canada,Barrington Ave,1351,"[391 Lumsden Ave (Barrington Ave), East York O...","[{'label': 'display', 'lat': 43.69527510260859...",43.695275,-79.303210,NaN,M4C 2L6,ON,L.B. Supermarket,v-1610335495,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,1168,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
71,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,698,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,NaN,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335499,NaN
72,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b82d211f964a52022e730e3,293 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,981,"[293 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.653526, 'lng':...",43.653526,-79.397923,NaN,M5T 2E6,ON,Hua Sheng Supermarket 華盛超級市場,v-1610335499,NaN
73,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,686,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
74,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b48f303f964a520ee5e26e3,253 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,1057,"[253 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.65210663093202...",43.652107,-79.397726,NaN,M5T 2E3,ON,Kai Wei Supermarket 華隆超級市場,v-1610335499,NaN
75,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bc783526501c9b627933e29,247 Spadina Ave.,CA,Toronto,Canada,NaN,1094,"[247 Spadina Ave., Toronto ON M5T, Canada]","[{'label': 'display', 'lat': 43.65137721325712...",43.651377,-79.397485,NaN,M5T,ON,ChinaCity Supermarket,v-1610335499,NaN
76,"[{'id': '4bf58dd8d48988d117951735', 'name': 'C...",False,4c6f2e1eb5a5236abb954c52,20 Carlton St.,CA,Toronto,Canada,at Church St.,774,"[20 Carlton St. (at Church St.), Toronto ON M5...","[{'label': 'display', 'lat': 43.66194809127718...",43.661948,-79.379516,NaN,M5B 2H5,ON,Maple Leaf Supermarket,v-1610335499,NaN
77,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b959489f964a52086aa34e3,140 Carlton St.,CA,Toronto,Canada,NaN,1085,"[140 Carlton St., Toronto ON M5A 4N9, Canada]","[{'label': 'display', 'lat': 43.66268506992159...",43.662685,-79.375597,NaN,M5A 4N9,ON,Little Bee Supermarket,v-1610335499,NaN
78,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,576d655b498e85d8ee6bd7f3,298 Spadina Ave,CA,Toronto,Canada,NaN,1027,"[298 Spadina Ave, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65248, 'lng': ...",43.652480,-79.397650,NaN,NaN,ON,Bai Chang Supermarket,v-1610335499,NaN
79,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b804b28f964a5200f6530e3,247 Augusta Ave,CA,Toronto,Canada,at Baldwin St,1236,"[247 Augusta Ave (at Baldwin St), Toronto ON M...","[{'label': 'display', 'lat': 43.65489448176307...",43.654894,-79.402146,NaN,M5T 2L8,ON,Perola Supermarket,v-1610335499,67606678
80,[],False,4c0151d84f1ea593674b6b7d,NaN,CA,NaN,Canada,NaN,1264,[Canada],"[{'label': 'display', 'lat': 43.652733, 'lng':...",43.652733,-79.401329,NaN,NaN,NaN,Lusitania Supermarket,v-1610335499,NaN
81,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,368,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
82,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,932,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,NaN,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335499,NaN
83,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,1383,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335500,NaN
84,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,191,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,NaN,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335500,NaN
85,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,676,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335500,NaN
86,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,518,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,NaN,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335500,NaN
87,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,585,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335500,NaN
88,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4caaabd8f47ea143763b8521,15 York St.,CA,Toronto,Canada,enter on Bremner,645,"[15 York St. (enter on Bremner), Toronto ON M5...","[{'label': 'display', 'lat': 43.64251679604069...",43.642517,-79.381393,NaN,M5J 0A3,ON,Longo's Maple Leaf Square,v-1610335500,NaN
89,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af1c975f964a5202de321e3,425 Bloor St W,CA,Toronto,Canada,at Walmer Rd,715,"[425 Bloor St W (at Walmer Rd), Toronto ON M5S...","[{'label': 'display', 'lat': 43.66629280196834...",43.666293,-79.405139,NaN,M5S 1X6,ON,Metro,v-1610335500,599164673
90,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,59790aa1e65d0c0791af30a8,351 Bloor St W,CA,Toronto,Canada,at Huron St,708,"[351 Bloor St W (at Huron St), Toronto ON M5S ...","[{'label': 'display', 'lat': 43.66717903349179...",43.667179,-79.401335,NaN,M5S 1W7,ON,Galleria Express,v-1610335500,NaN
91,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4ad4c05df964a5206af620e3,268 Augusta Ave.,CA,Toronto,Canada,at College St.,709,"[268 Augusta Ave. (at College St.), Toronto ON...","[{'label': 'display', 'lat': 43.65667989877377...",43.656680,-79.402954,NaN,M5T 2L9,ON,The Supermarket,v-1610335501,NaN
92,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b82d211f964a52022e730e3,293 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,1035,"[293 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.653526, 'lng':...",43.653526,-79.397923,NaN,M5T 2E6,ON,Hua Sheng Supermarket 華盛超級市場,v-1610335501,NaN
93,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4b804b28f964a5200f6530e3,247 Augusta Ave,CA,Toronto,Canada,at Baldwin St,884,"[247 Augusta Ave (at Baldwin St), Toronto ON M...","[{'label': 'display', 'lat': 43.65489448176307...",43.654894,-79.402146,NaN,M5T 2L8,ON,Perola Supermarket,v-1610335501,67606678
94,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af1c975f964a5202de321e3,425 Bloor St W,CA,Toronto,Canada,at Walmer Rd,573,"[425 Bloor St W (at Walmer Rd), Toronto ON M5S...","[{'label': 'display', 'lat': 43.66629280196834...",43.666293,-79.405139,NaN,M5S 1X6,ON,Metro,v-1610335501,599164673
95,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,59790aa1e65d0c0791af30a8,351 Bloor St W,CA,Toronto,Canada,at Huron St,509,"[351 Bloor St W (at Huron St), Toronto ON M5S ...","[{'label': 'display', 'lat': 43.66717903349179...",43.667179,-79.401335,NaN,M5S 1W7,ON,Galleria Express,v-1610335501,NaN
96,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b82d211f964a52022e730e3,293 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,174,"[293 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.653526, 'lng':...",43.653526,-79.397923,NaN,M5T 2E6,ON,Hua Sheng Supermarket 華盛超級市場,v-1610335501,NaN
97,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4b48f303f964a520ee5e26e3,253 Spadina Ave.,CA,Toronto,Canada,at Dundas St. W.,223,"[253 Spadina Ave. (at Dundas St. W.), Toronto ...","[{'label': 'display', 'lat': 43.65210663093202...",43.652107,-79.397726,NaN,M5T 2E3,ON,Kai Wei Supermarket 華隆超級市場,v-1610335501,NaN
98,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4ad4c05df964a5206af620e3,268 Augusta Ave.,CA,Toronto,Canada,at College St.,451,"[268 Augusta Ave. (at College St.), Toronto ON...","[{'label': 'display', 'lat': 43.65667989877377...",43.656680,-79.402954,NaN,M5T 2L9,ON,The Supermarket,v-1610335501,NaN
99,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bc783526501c9b627933e29,247 Spadina Ave.,CA,Toronto,Canada,NaN,290,"[247 Spadina Ave., Toronto ON M5T, Canada]","[{'label': 'display', 'lat': 43.65137721325712...",43.651377,-79.397485,NaN,M5T,ON,ChinaCity Supermarket,v-1610335501,NaN

In [114]:
BaseProject = BaseProject.sort_values('location.address', ascending=False)

In [115]:
BaseProject.head(150)

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId,venuePage.id
129,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bb62a19ef159c74d88275f7,Roncesvalles,CA,Toronto,Canada,Grenadier,494,"[Roncesvalles (Grenadier), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.64907498553138...",43.649075,-79.450185,NaN,NaN,ON,Master Supermarket,v-1610335503,NaN
143,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,509973b0e4b07f2d2b6e2928,Martinway Plaza,CA,NaN,Canada,Westway N Martingrove,1017,"[Martinway Plaza (Westway N Martingrove), Canada]","[{'label': 'display', 'lat': 43.68340091659107...",43.683401,-79.564814,NaN,NaN,NaN,Jas Supermarket,v-1610335506,NaN
136,"[{'id': '4bf58dd8d48988d123951735', 'name': 'S...",False,53946f9d498e57e1568b2ba6,John St.,CA,NaN,Canada,NaN,656,"[John St., Canada]","[{'label': 'display', 'lat': 43.701009, 'lng':...",43.701009,-79.517395,NaN,NaN,NaN,Ok Supermarket,v-1610335505,NaN
55,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,1073,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,NaN,ON,Seaton Supermarket,v-1610335498,NaN
65,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,1096,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,NaN,ON,Seaton Supermarket,v-1610335499,NaN
45,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,842,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,NaN,ON,Seaton Supermarket,v-1610335498,NaN
51,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,1165,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,NaN,ON,Seaton Supermarket,v-1610335498,NaN
60,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4bacb31df964a520fb043be3,Gerrard St,CA,Toronto,Canada,at Seaton St,780,"[Gerrard St (at Seaton St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66069364644758...",43.660694,-79.370569,NaN,NaN,ON,Seaton Supermarket,v-1610335499,NaN
112,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e406cc418389e021462af0b,Davenport,CA,Toronto,Canada,Westmoreland,1206,"[Davenport (Westmoreland), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.67608835086229...",43.676088,-79.434500,NaN,NaN,ON,Boa Hora Supermarket,v-1610335502,NaN
117,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e406cc418389e021462af0b,Davenport,CA,Toronto,Canada,Westmoreland,1005,"[Davenport (Westmoreland), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.67608835086229...",43.676088,-79.434500,NaN,NaN,ON,Boa Hora Supermarket,v-1610335502,NaN
56,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,495,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
81,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,368,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
83,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,1383,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335500,NaN
73,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,686,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
85,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,676,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335500,NaN
87,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,585,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335500,NaN
62,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,554,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
104,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,945,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335501,NaN
106,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,537,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335501,NaN
70,"[{'id': '4bf58dd8d48988d116941735', 'name': 'B...",False,4f23983ee4b0476578d9c52f,Augusta Ave,CA,Toronto,Canada,College,1168,"[Augusta Ave (College), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65324668644528...",43.653247,-79.381865,NaN,NaN,ON,The Supermarket,v-1610335499,NaN
34,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e0899aea809495e619fad39,984 Danforth,CA,Toronto,Canada,NaN,568,"[984 Danforth, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.6802447, 'lng'...",43.680245,-79.338324,NaN,NaN,ON,Burak Supermarket,v-1610335496,NaN
37,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e0899aea809495e619fad39,984 Danforth,CA,Toronto,Canada,NaN,1118,"[984 Danforth, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.6802447, 'lng'...",43.680245,-79.338324,NaN,NaN,ON,Burak Supermarket,v-1610335497,NaN
36,"[{'id': '4bf58dd8d48988d1f5941735', 'name': 'G...",False,4b997ccdf964a520627e35e3,906 Danforth Ave,CA,Toronto,Canada,btwn Donlands & Dewhurst,1062,"[906 Danforth Ave (btwn Donlands & Dewhurst), ...","[{'label': 'display', 'lat': 43.68012138925084...",43.680121,-79.339009,NaN,M4J 1L9,ON,Masellis Supermarket,v-1610335497,NaN
31,"[{'id': '4bf58dd8d48988d1f5941735', 'name': 'G...",False,4b997ccdf964a520627e35e3,906 Danforth Ave,CA,Toronto,Canada,btwn Donlands & Dewhurst,586,"[906 Danforth Ave (btwn Donlands & Dewhurst), ...","[{'label': 'display', 'lat': 43.68012138925084...",43.680121,-79.339009,NaN,M4J 1L9,ON,Masellis Supermarket,v-1610335496,NaN
23,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ba01a86ab42d9002c77a331,888 Don Mills Rd - Unit 100,CA,Toronto,Canada,Barber Greene Rd,70,[888 Don Mills Rd - Unit 100 (Barber Greene Rd...,"[{'label': 'display', 'lat': 43.72555648813715...",43.725556,-79.341667,NaN,M3C 1V6,ON,C&C Supermarket,v-1610335494,NaN
119,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ee6928cd3e34ebcf1d9d1d2,878 Dundas,CA,Toronto,Canada,Claremont St,759,"[878 Dundas (Claremont St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.651251, 'lng':...",43.651251,-79.411518,NaN,NaN,ON,Dundas St Supermarket,v-1610335502,NaN
103,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ee6928cd3e34ebcf1d9d1d2,878 Dundas,CA,Toronto,Canada,Claremont St,949,"[878 Dundas (Claremont St), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.651251, 'lng':...",43.651251,-79.411518,NaN,NaN,ON,Dundas St Supermarket,v-1610335501,NaN
22,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4ccec87654f0b1f7f32824ca,865 York Mills Rd.,CA,Toronto,Canada,at Upjohn Rd.,874,"[865 York Mills Rd. (at Upjohn Rd.), Toronto O...","[{'label': 'display', 'lat': 43.75352001200256...",43.753520,-79.349518,NaN,M3B 1Y5,ON,Galleria Supermarket,v-1610335494,NaN
6,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4ec1a0a89911a2ec5cc79f26,"8 Greystone Walk Dr., Unit 11",CA,Scarborough,Canada,btwn Midland & Danforth,792,"[8 Greystone Walk Dr., Unit 11 (btwn Midland &...","[{'label': 'display', 'lat': 43.72505367662222...",43.725054,-79.253019,NaN,M1K 5J2,ON,Fu Yao Supermarket,v-1610335490,NaN
110,"[{'id': '4bf58dd8d48988d113941735', 'name': 'K...",False,4ba26278f964a52093f337e3,698 Bloor St W,CA,Toronto,Canada,NaN,750,"[698 Bloor St W, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66387468, 'lng...",43.663875,-79.417520,NaN,NaN,ON,E-Mart Korean Supermarket,v-1610335502,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4c438413f97fbe9a32f3b930,1255 Markham Rd,CA,Toronto,Canada,Progress,966,"[1255 Markham Rd (Progress), Toronto ON, Canada]","[{'label': 'display', 'lat': 43.780335, 'lng':...",43.780335,-79.232750,NaN,NaN,ON,Sheung Thai Supermarket,v-1610335490,NaN
24,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,58ed13fdb50d52250436b317,1235 Finch Avenue West,CA,Toronto,Canada,Finch And Alexdone,449,"[1235 Finch Avenue West (Finch And Alexdone), ...","[{'label': 'display', 'lat': 43.764066, 'lng':...",43.764066,-79.485904,NaN,M3J 2G4,ON,TPP Supermarket,v-1610335494,NaN
116,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4ddac20d45dd588c7211f39b,1162 Bloor St. West,CA,Toronto,Canada,NaN,853,"[1162 Bloor St. West, Toronto ON M6H 1N1, Canada]","[{'label': 'display', 'lat': 43.66134111, 'lng...",43.661341,-79.441931,NaN,M6H 1N1,ON,Do Rego Supermarket,v-1610335502,NaN
0,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,539641d9498ee4f723c48089,1150 Morningside Ave,CA,Toronto,Canada,Milner,824,"[1150 Morningside Ave (Milner), Toronto ON M1B...","[{'label': 'display', 'lat': 43.80052789935291...",43.800528,-79.200064,Malvern,M1B 3A4,ON,Fusion Supermarket,v-1610335489,NaN
1,"[{'id': '4bf58dd8d48988d1f6941735', 'name': 'D...",False,55fc8fbe498ecf307388b81f,"1145 Morningside Ave #32, 33",CA,Toronto,Canada,NaN,708,"[1145 Morningside Ave #32, 33, Toronto ON M1B ...","[{'label': 'display', 'lat': 43.80111, 'lng': ...",43.801110,-79.198604,NaN,M1B 0A7,ON,Gunaam's Super Market,v-1610335489,NaN
27,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4d1e5b025acaa35dcb8db635,1105 Wilson Ave.,CA,North York,Canada,at Keele St.,1053,"[1105 Wilson Ave. (at Keele St.), North York O...","[{'label': 'display', 'lat': 43.72627030972754...",43.726270,-79.482972,NaN,M3M 1H2,ON,Btrust Supermarket,v-1610335495,NaN
33,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4e1c91a1483b6f9457795947,1067 Danforth,CA,Toronto,Canada,NaN,550,"[1067 Danforth, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.680722, 'lng':...",43.680722,-79.335693,NaN,NaN,ON,Kabul Supermarket,v-1610335496,NaN
30,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4db8a363fa8c978590bde375,1054 Coxwell Ave.,CA,Toronto,Canada,O'Connor Dr.,895,"[1054 Coxwell Ave. (O'Connor Dr.), Toronto ON,...","[{'label': 'display', 'lat': 43.69691125533249...",43.696911,-79.329296,NaN,NaN,ON,Wayne's Supermarket,v-1610335496,NaN
123,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af457d8f964a5207ef121e3,100 Lynn Williams St,CA,Toronto,Canada,Liberty Village,918,"[100 Lynn Williams St (Liberty Village), Toron...","[{'label': 'display', 'lat': 43.6398010846417,...",43.639801,-79.417547,NaN,M6K 3N6,ON,Metro,v-1610335502,597157643
120,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4af457d8f964a5207ef121e3,100 Lynn Williams St,CA,Toronto,Canada,Liberty Village,921,"[100 Lynn Williams St (Liberty Village), Toron...","[{'label': 'display', 'lat': 43.6398010846417,...",43.639801,-79.417547,NaN,M6K 3N6,ON,Metro,v-1610335502,597157643
125,"[{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...",False,4f776817e4b0e91fa6ec58cc,1-1635 Lawrence Avenue West,CA,Toronto,Canada,Black Creek Drive,1044,[1-1635 Lawrence Avenue West (Black Creek Driv...,"[{'label': 'display', 'lat': 43.70452431495363...",43.704524,-79.492404,NaN,M6L 3C9,ON,Superking Supermarket 鸿發 Siêu Thi Dai Vuong,v-1610335502,NaN
5,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4daca3b743a17e90f8e3f2f4,NaN,CA,Toronto,Canada,NaN,663,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.74651872778413...",43.746519,-79.231609,NaN,NaN,ON,M&S Supermarket,v-1610335490,NaN
8,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,5ade6c044186865eb6950a98,NaN,CA,Toronto,Canada,NaN,1118,"[Toronto ON M1K 2S2, Canada]","[{'label': 'display', 'lat': 43.735378, 'lng':...",43.735378,-79.252700,NaN,M1K 2S2,ON,Eraa Supermarket,v-1610335490,NaN
18,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,500c56a8e4b0c0877f3b9966,NaN,CA,NaN,Canada,NaN,899,[Canada],"[{'label': 'display', 'lat': 43.78337009210020...",43.783370,-79.396017,NaN,NaN,NaN,Sunny Supermarket,v-1610335492,NaN
19,[],False,4bc0ffb14cdfc9b622f19321,NaN,CA,Toronto,Canada,Don mills and finch,1009,"[Don mills and finch, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.78891551086557...",43.788916,-79.373711,NaN,NaN,ON,Cloudy supermarket,v-1610335492,NaN
20,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4bf47e7598ac0f47d41964a8,NaN,CA,NaN,Canada,NaN,833,[Canada],"[{'label': 'display', 'lat': 43.76276820682531...",43.762768,-79.410480,NaN,NaN,NaN,Supermarket,v-1610335493,NaN
25,"[{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'M...",False,51e9b005498e4930349f83fc,NaN,CA,NaN,Canada,NaN,732,[Canada],"[{'label': 'display', 'lat': 43.7617991933506,...",43.761799,-79.490401,NaN,NaN,NaN,Burak supermarket keel and finch,v-1610335494,NaN
46,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4eebf15bb634f754418769de,NaN,CA,Toronto,Canada,Dundas and Parliament,980,"[Dundas and Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65916750679724...",43.659168,-79.367238,NaN,NaN,ON,Surma Supermarket,v-1610335498,NaN
54,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4eebf15bb634f754418769de,NaN,CA,Toronto,Canada,Dundas and Parliament,762,"[Dundas and Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65916750679724...",43.659168,-79.367238,NaN,NaN,ON,Surma Supermarket,v-1610335498,NaN
61,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4eebf15bb634f754418769de,NaN,CA,Toronto,Canada,Dundas and Parliament,968,"[Dundas and Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65916750679724...",43.659168,-79.367238,NaN,NaN,ON,Surma Supermarket,v-1610335499,NaN
66,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4eebf15bb634f754418769de,NaN,CA,Toronto,Canada,Dundas and Parliament,1078,"[Dundas and Parliament, Toronto ON, Canada]","[{'label': 'display', 'lat': 43.65916750679724...",43.659168,-79.367238,NaN,NaN,ON,Surma Supermarket,v-1610335499,NaN
80,[],False,4c0151d84f1ea593674b6b7d,NaN,CA,NaN,Canada,NaN,1264,[Canada],"[{'label': 'display', 'lat': 43.652733, 'lng':...",43.652733,-79.401329,NaN,NaN,NaN,Lusitania Supermarket,v-1610335499,NaN
100,[],False,4c0151d84f1ea593674b6b7d,NaN,CA,NaN,Canada,NaN,115,[Canada],"[{'label': 'display', 'lat': 43.652733, 'lng':...",43.652733,-79.401329,NaN,NaN,NaN,Lusitania Supermarket,v-1610335501,NaN
111,[],False,4c3ce0e9a97bbe9a7f1efbdd,NaN,CA,NaN,Canada,NaN,961,[Canada],"[{'label': 'display', 'lat': 43.661566, 'lng':...",43.661566,-79.427160,NaN,NaN,NaN,Canasia Supermarket,v-1610335502,NaN
114,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4e96ea807ee65b1674bd1475,NaN,CA,Toronto,Canada,NaN,496,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.66594309531715...",43.665943,-79.437778,NaN,NaN,ON,Olympia Supermarket,v-1610335502,NaN
118,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,5b777aff1543c7002c58d4dd,NaN,CA,Toronto,Canada,NaN,257,"[Toronto ON M6J 1X3, Canada]","[{'label': 'display', 'lat': 43.649309, 'lng':...",43.649309,-79.422319,NaN,M6J 1X3,ON,King’s Fruit Supermarket,v-1610335502,NaN
122,"[{'id': '4bf58dd8d48988d1f9941735', 'name': 'F...",False,52a7535011d25ca6273cc5de,NaN,CA,NaN,Canada,NaN,737,[Canada],"[{'label': 'display', 'lat': 43.64095368742944...",43.640954,-79.435371,NaN,NaN,NaN,Lucky Supermarket,v-1610335502,NaN
126,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",False,4da9c4b40437dccbd7f3c7e0,NaN,CA,Toronto,Canada,NaN,830,"[Toronto ON, Canada]","[{'label': 'display', 'lat': 43.71538724093072...",43.715387,-79.480004,NaN,NaN,ON,Cataldi supermarket,v-1610335503,NaN
135,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",False,4cb372c4eb65b1f74ec083cd,NaN,CA,NaN,Canada,NaN,589,[Canada],"[{'label': 'display', 'lat': 43.7016347647671,...",43.701635,-79.519201,NaN,NaN,NaN,Greenland Farm Supermarket,v-1610335505,NaN
137,[],False,4beaff426295c9b6b1248708,NaN,CA,Weston,Canada,NaN,674,"[Weston ON, Canada]","[{'label': 'display', 'lat': 43.71290448434435...",43.712904,-79.517313,NaN,NaN,ON,Brioni's Supermarket,v-1610335505,NaN

In [116]:
BaseProject = BaseProject.drop_duplicates(subset='location.address', keep='first')
print(BaseProject)

                                            categories  hasPerk  \
129  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
143  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
136  [{'id': '4bf58dd8d48988d123951735', 'name': 'S...    False
55   [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
112  [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
56   [{'id': '4bf58dd8d48988d116941735', 'name': 'B...    False
34   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
36   [{'id': '4bf58dd8d48988d1f5941735', 'name': 'G...    False
23   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
119  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
22   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
6    [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
110  [{'id': '4bf58dd8d48988d113941735', 'name': 'K...    False
7    [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
113  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
134  [{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'M...    False
39   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
109  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
9    [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
2    [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
12   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
108  [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
94   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
29   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
132  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
10   [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
15   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
52   [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
17   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
78   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
..                                                 ...      ...
141  [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
3    [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
14   [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
21   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
59   [{'id': '4bf58dd8d48988d117951735', 'name': 'C...    False
28   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
26   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
140  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
128                                                 []    False
127  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
115  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
142  [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
71   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
124  [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
38   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
121  [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
44   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
35   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
32   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
4    [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
24   [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
116  [{'id': '4d954b0ea243a5684a65b473', 'name': 'C...    False
0    [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
1    [{'id': '4bf58dd8d48988d1f6941735', 'name': 'D...    False
27   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
33   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
30   [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False
123  [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
125  [{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'S...    False
5    [{'id': '4bf58dd8d48988d118951735', 'name': 'G...    False

                           id               location.address location.cc  \
129  4bb62a19ef159c74d88275f7                   Roncesvalles          CA
143  509973b0e4b07f2d2b6e2928                Martinway Plaza          CA
136  53946f9d498e57e1568b2ba6                       John St.          CA
55   4bacb31df964a520fb043be3                     Gerrard St          CA
112  4e406cc418389e021462af0b                      Davenport          CA
56   4f23983ee4b0476578d9c52f                    Augusta Ave          CA
34   4e0899aea809495e619fad39                   984 Danforth          CA
36   4b997ccdf964a520627e35e3               906 Danforth Ave          CA
23   5ba01a86ab42d9002c77a331    888 Don Mills Rd - Unit 100          CA
119  4ee6928cd3e34ebcf1d9d1d2                     878 Dundas          CA
22   4ccec87654f0b1f7f32824ca             865 York Mills Rd.          CA
6    4ec1a0a89911a2ec5cc79f26  8 Greystone Walk Dr., Unit 11          CA
110  4ba26278f964a52093f337e3                 698 Bloor St W          CA
7    4d8e6619d265236a33c20917                678 Kennedy Rd.          CA
113  4b454f0ff964a520590a26e3                 675 Bloor St W          CA
134  5220ddae11d2c123ba44d720         666 Burnhamthorpe Road          CA
39   4b4d07c1f964a5208ac826e3          639-643 Gerrard St. E          CA
109  4c86e638110176b0e9cab340               468 Vaughan Road          CA
9    4d8f73366174a093df6edee3             462 Birchmount Rd.          CA
2    4be459f3d4f7c9b602072420               4473 Kingston Rd          CA
12   4b36a979f964a520343a25e3           4466 Sheppard Ave. E          CA
108  4e9df1566c251c381e2f7c9e                 427 Vaughan Rd          CA
94   4af1c975f964a5202de321e3                 425 Bloor St W          CA
29   4e2342fbfa761d67108f00cc                391 Lumsden Ave          CA
132  59790aa1e65d0c0791af30a8                 351 Bloor St W          CA
10   4dc9b816c65b4fc1c47f70bf              3502 Danforth Ave          CA
15   4c59bc8b4ed9ef3b55e2d96d          3331 Sheppard Ave. E.          CA
52   4e984e508b810941daa38738              324 Parliament St          CA
17   4b91b689f964a520f9d133e3             3030 Don Mills Rd.          CA
78   576d655b498e85d8ee6bd7f3                298 Spadina Ave          CA
..                        ...                            ...         ...
141  4fe1275ee4b0f221472204ae             2189-91 Weston Rd.          CA
3    5b8d9bddc58ed7002ce75f9b                 2141 Ellesmere          CA
14   50a95357e4b04d89951c5cda                  20 Nugget Ave          CA
21   4af2473cf964a52014e721e3                  20 Church Ave          CA
59   4c6f2e1eb5a5236abb954c52                 20 Carlton St.          CA
28   4e7e0b117ee6ec38252d3886               1989 Finch Ave W          CA
26   4ea30c1177c8d0ce5e35a6cd          1925 Sheppard Ave. W.          CA
140  5001c90ae4b0a4b26d02fdca               1642 Jane Street          CA
128  4c64409e58810f47a1b40b1e           1635 Lawrence Ave. W          CA
127  4db30d3b81543d71da27b7f1         1635 Lawrence Ave West          CA
115  4bc4e3594cdfc9b6e1509921                152 Wallace Ave          CA
142  4e0b84a6fa76f9d12b92312c             1500 Royal York Rd          CA
71   4caaabd8f47ea143763b8521                    15 York St.          CA
124  4e0d1f33c65ba20da213d9d5                1474 Queen St W          CA
38   4b3d44eff964a5205d9125e3       1449 Gerrard Street East          CA
121  4bb8e4173db7b71388be219a                1431 Queen St W          CA
44   4b959489f964a52086aa34e3                140 Carlton St.          CA
35   4b955064f964a520da9b34e3           1398 Danforth Avenue          CA
32   4e20b5bda80968cf3e380c8a           1361 Danforth Avenue          CA
4    4c438413f97fbe9a32f3b930                1255 Markham Rd          CA
24   58ed13fdb50d52250436b317         1235 Finch Avenue West          CA
116  4ddac20d45dd588c7211f39b            1162 Bloor St. West          CA
0    539641d9498ee4f723c48089           1150 Morningside Ave          CA
1    55fc8fbe498ecf307388b81f   1145 Morningside Ave #32, 33          CA
27   4d1e5b025acaa35dcb8db635               1105 Wilson Ave.          CA
33   4e1c91a1483b6f9457795947                  1067 Danforth          CA
30   4db8a363fa8c978590bde375              1054 Coxwell Ave.          CA
123  4af457d8f964a5207ef121e3           100 Lynn Williams St          CA
125  4f776817e4b0e91fa6ec58cc    1-1635 Lawrence Avenue West          CA
5    4daca3b743a17e90f8e3f2f4                            NaN          CA

    location.city location.country      location.crossStreet  \
129       Toronto           Canada                 Grenadier
143           NaN           Canada     Westway N Martingrove
136           NaN           Canada                       NaN
55        Toronto           Canada              at Seaton St
112       Toronto           Canada              Westmoreland
56        Toronto           Canada                   College
34        Toronto           Canada                       NaN
36        Toronto           Canada  btwn Donlands & Dewhurst
23        Toronto           Canada          Barber Greene Rd
119       Toronto           Canada              Claremont St
22        Toronto           Canada             at Upjohn Rd.
6     Scarborough           Canada   btwn Midland & Danforth
110       Toronto           Canada                       NaN
7         Toronto           Canada            at Merrian Rd.
113       Toronto           Canada            at Manning Ave
134     Etobicoke           Canada                       NaN
39        Toronto           Canada  btw Broadview & Degrassi
109       Toronto           Canada                  Atlas Av
9         Toronto           Canada                       NaN
2     Scarborough           Canada       at Morningside Ave.
12    Scarborough           Canada            at Brimley Rd.
108          York           Canada                       NaN
94        Toronto           Canada              at Walmer Rd
29      East York           Canada            Barrington Ave
132       Toronto           Canada               at Huron St
10        Toronto           Canada                       NaN
15        Toronto           Canada            at Warden Ave.
52        Toronto           Canada                       NaN
17        Toronto           Canada           in Peanut Plaza
78        Toronto           Canada                       NaN
..            ...              ...                       ...
141    North York           Canada             At Church St.
3         Toronto           Canada                       NaN
14        Toronto           Canada                       NaN
21     North York           Canada              at Yonge St.
59        Toronto           Canada             at Church St.
28        Toronto           Canada                at Jane St
26        Toronto           Canada              at Janes St.
140       Toronto           Canada         Jane and Lawrence
128       Toronto           Canada        at Black Creek Dr.
127       Toronto           Canada         Black Creek Drive
115       Toronto           Canada            at Emerson Ave
142     Etobicoke           Canada                  Trehorne
71        Toronto           Canada          enter on Bremner
124       Toronto           Canada                       NaN
38        Toronto           Canada                       NaN
121       Toronto           Canada                       NaN
44        Toronto           Canada                       NaN
35        Toronto           Canada                       NaN
32        Toronto           Canada   Danforth & Monarch Park
4         Toronto           Canada                  Progress
24        Toronto           Canada        Finch And Alexdone
116       Toronto           Canada                       NaN
0         Toronto           Canada                    Milner
1         Toronto           Canada                       NaN
27     North York           Canada              at Keele St.
33        Toronto           Canada                       NaN
30        Toronto           Canada              O'Connor Dr.
123       Toronto           Canada           Liberty Village
125       Toronto           Canada         Black Creek Drive
5         Toronto           Canada                       NaN

     location.distance                          location.formattedAddress  \
129                494     [Roncesvalles (Grenadier), Toronto ON, Canada]
143               1017  [Martinway Plaza (Westway N Martingrove), Canada]
136                656                                 [John St., Canada]
55                1073    [Gerrard St (at Seaton St), Toronto ON, Canada]
112               1206     [Davenport (Westmoreland), Toronto ON, Canada]
56                 495        [Augusta Ave (College), Toronto ON, Canada]
34                 568                 [984 Danforth, Toronto ON, Canada]
36                1062  [906 Danforth Ave (btwn Donlands & Dewhurst), ...
23                  70  [888 Don Mills Rd - Unit 100 (Barber Greene Rd...
119                759    [878 Dundas (Claremont St), Toronto ON, Canada]
22                 874  [865 York Mills Rd. (at Upjohn Rd.), Toronto O...
6                  792  [8 Greystone Walk Dr., Unit 11 (btwn Midland &...
110                750               [698 Bloor St W, Toronto ON, Canada]
7                  365  [678 Kennedy Rd. (at Merrian Rd.), Toronto ON ...
113                798  [675 Bloor St W (at Manning Ave), Toronto ON M...
134                173     [666 Burnhamthorpe Road, Etobicoke ON, Canada]
39                1046  [639-643 Gerrard St. E (btw Broadview & Degras...
109                706  [468 Vaughan Road (Atlas Av), Toronto ON M6C 3...
9                 1024   [462 Birchmount Rd., Toronto ON M1L 3X6, Canada]
2                  675  [4473 Kingston Rd (at Morningside Ave.), Scarb...
12                 710  [4466 Sheppard Ave. E (at Brimley Rd.), Scarbo...
108                599                  [427 Vaughan Rd, York ON, Canada]
94                 573  [425 Bloor St W (at Walmer Rd), Toronto ON M5S...
29                1351  [391 Lumsden Ave (Barrington Ave), East York O...
132               1097  [351 Bloor St W (at Huron St), Toronto ON M5S ...
10                 758            [3502 Danforth Ave, Toronto ON, Canada]
15                 669  [3331 Sheppard Ave. E. (at Warden Ave.), Toron...
52                 731     [324 Parliament St, Toronto ON m5a2z9, Canada]
17                 904  [3030 Don Mills Rd. (in Peanut Plaza), Toronto...
78                1027              [298 Spadina Ave, Toronto ON, Canada]
..                 ...                                                ...
141                938  [2189-91 Weston Rd. (At Church St.), North Yor...
3                  793       [2141 Ellesmere, Toronto ON M1H 2Y5, Canada]
14                 232                [20 Nugget Ave, Toronto ON, Canada]
21                 600  [20 Church Ave (at Yonge St.), North York ON M...
59                 534  [20 Carlton St. (at Church St.), Toronto ON M5...
28                 588  [1989 Finch Ave W (at Jane St), Toronto ON M3N...
26                 411  [1925 Sheppard Ave. W. (at Janes St.), Toronto...
140               1281  [1642 Jane Street (Jane and Lawrence), Toronto...
128               1004  [1635 Lawrence Ave. W (at Black Creek Dr.), To...
127               1035  [1635 Lawrence Ave West (Black Creek Drive), T...
115                704  [152 Wallace Ave (at Emerson Ave), Toronto ON ...
142                573  [1500 Royal York Rd (Trehorne), Etobicoke ON M...
71                 698  [15 York St. (enter on Bremner), Toronto ON M5...
124                809      [1474 Queen St W, Toronto ON M6K 1M4, Canada]
38                 601  [1449 Gerrard Street East, Toronto ON M4L 1Z9,...
121                296      [1431 Queen St W, Toronto ON M6K 1M3, Canada]
44                 867      [140 Carlton St., Toronto ON M5A 4N9, Canada]
35                 892         [1398 Danforth Avenue, Toronto ON, Canada]
32                 864  [1361 Danforth Avenue (Danforth & Monarch Park...
4                  966   [1255 Markham Rd (Progress), Toronto ON, Canada]
24                 449  [1235 Finch Avenue West (Finch And Alexdone), ...
116                853  [1162 Bloor St. West, Toronto ON M6H 1N1, Canada]
0                  824  [1150 Morningside Ave (Milner), Toronto ON M1B...
1                  708  [1145 Morningside Ave #32, 33, Toronto ON M1B ...
27                1053  [1105 Wilson Ave. (at Keele St.), North York O...
33                 550                [1067 Danforth, Toronto ON, Canada]
30                 895  [1054 Coxwell Ave. (O'Connor Dr.), Toronto ON,...
123                918  [100 Lynn Williams St (Liberty Village), Toron...
125               1044  [1-1635 Lawrence Avenue West (Black Creek Driv...
5                  663                               [Toronto ON, Canada]

                               location.labeledLatLngs  location.lat  \
129  [{'label': 'display', 'lat': 43.64907498553138...     43.649075
143  [{'label': 'display', 'lat': 43.68340091659107...     43.683401
136  [{'label': 'display', 'lat': 43.701009, 'lng':...     43.701009
55   [{'label': 'display', 'lat': 43.66069364644758...     43.660694
112  [{'label': 'display', 'lat': 43.67608835086229...     43.676088
56   [{'label': 'display', 'lat': 43.65324668644528...     43.653247
34   [{'label': 'display', 'lat': 43.6802447, 'lng'...     43.680245
36   [{'label': 'display', 'lat': 43.68012138925084...     43.680121
23   [{'label': 'display', 'lat': 43.72555648813715...     43.725556
119  [{'label': 'display', 'lat': 43.651251, 'lng':...     43.651251
22   [{'label': 'display', 'lat': 43.75352001200256...     43.753520
6    [{'label': 'display', 'lat': 43.72505367662222...     43.725054
110  [{'label': 'display', 'lat': 43.66387468, 'lng...     43.663875
7    [{'label': 'display', 'lat': 43.72666927699861...     43.726669
113  [{'label': 'display', 'lat': 43.66395515985428...     43.663955
134  [{'label': 'display', 'lat': 43.64195433940068...     43.641954
39   [{'label': 'display', 'lat': 43.66589856596992...     43.665899
109  [{'label': 'display', 'lat': 43.6894497552931,...     43.689450
9    [{'label': 'display', 'lat': 43.71170925519159...     43.711709
2    [{'label': 'display', 'lat': 43.769591, 'lng':...     43.769591
12   [{'label': 'display', 'lat': 43.78905492518265...     43.789055
108  [{'label': 'display', 'lat': 43.68880850655644...     43.688809
94   [{'label': 'display', 'lat': 43.66629280196834...     43.666293
29   [{'label': 'display', 'lat': 43.69527510260859...     43.695275
132  [{'label': 'display', 'lat': 43.66717903349179...     43.667179
10   [{'label': 'display', 'lat': 43.6946133888628,...     43.694613
15   [{'label': 'display', 'lat': 43.77615538871523...     43.776155
52   [{'label': 'display', 'lat': 43.65795472476427...     43.657955
17   [{'label': 'display', 'lat': 43.78564527290788...     43.785645
78   [{'label': 'display', 'lat': 43.65248, 'lng': ...     43.652480
..                                                 ...           ...
141  [{'label': 'display', 'lat': 43.70380005204834...     43.703800
3    [{'label': 'display', 'lat': 43.77605, 'lng': ...     43.776050
14   [{'label': 'display', 'lat': 43.79312630005749...     43.793126
21   [{'label': 'display', 'lat': 43.77417110604527...     43.774171
59   [{'label': 'display', 'lat': 43.66194809127718...     43.661948
28   [{'label': 'display', 'lat': 43.75667320052111...     43.756673
26   [{'label': 'display', 'lat': 43.73919317312882...     43.739193
140  [{'label': 'display', 'lat': 43.70135473213272...     43.701355
128  [{'label': 'display', 'lat': 43.70490518087379...     43.704905
127  [{'label': 'display', 'lat': 43.7046142428013,...     43.704614
115  [{'label': 'display', 'lat': 43.66268094573783...     43.662681
142  [{'label': 'display', 'lat': 43.69124813823024...     43.691248
71   [{'label': 'display', 'lat': 43.64251679604069...     43.642517

In [117]:
BaseProject.groupby('location.city').count()

,categories,hasPerk,id,location.address,location.cc,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId,venuePage.id
location.city,,,,,,,,,,,,,,,,,,
East York,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0
Etobicoke,2,2,2,2,2,2,1,2,2,2,2,2,0,1,2,2,2,1
North York,3,3,3,3,3,3,3,3,3,3,3,3,0,2,3,3,3,1
Scarborough,4,4,4,4,4,4,4,4,4,4,4,4,0,4,4,4,4,0
Southeast of Weston Road and H,1,1,1,1,1,1,0,1,1,1,1,1,0,0,0,1,1,0
Toronto,58,58,58,57,58,58,38,58,58,58,58,58,1,38,58,58,58,4
York,1,1,1,1,1,1,0,1,1,1,1,1,0,0,1,1,1,0

In [119]:
BaseProject = BaseProject.sort_values('location.city', ascending=False)